[2015-02-10 23:31] raelgc opened #1 "Open links in default system program"
Catch the clicked URL (and not `onclick`) and use `xdg-open` to open links posted in channels in default system program for URLs.

[2015-02-12 12:23] raelgc opened #2 "Add channels quicklist to Launcher icon"
Similar to `skype-wrapper` for Ubuntu, which displays unread conversations, but display channels in which user is member.

Once user clicked in the quicklist item, channel is selected and window is focused.

[2015-02-14 16:37] martinb3 opened #3 "Blank white screen"
Hello! I'm excited to check out this project, but it looks like the PPA package is having some issues for me. When I run it, I just get an empty blank white window with the title "ScudCloud." I've tested other Qt webkit software like the arora browser, and that works just great. So I'm not sure where to go from here to debug this further.

[2015-02-14 17:16] raelgc commented on #3
Hi @martinb3, thanks for the bug reporting!

Can you tell me which Ubuntu version are you using?

And, additionally, can you open the program from the terminal to tell me which output is producing?

[2015-02-14 17:17] raelgc commented on #3
@martinb3 Just to double check: did you notice the dialog asking for your Slack identifier, right?

[2015-02-14 17:25] martinb3 commented on #3
Hi! Yes, I did fill out the slack identifier. I assume that means the domain (I filled it in with the domain, based on reviewing the source and assuming that's what it was). No where on the Slack site does it call it an identifier, so you may want to clarify that :).

I verified the identifier gets saved in `~/.scudcloud` as well.

I'm on Ubuntu 14.10; there's no terminal output when run through t

[2015-02-14 17:30] raelgc commented on #3
@martinb3 The identifier should be only the `subdomain` before the `.slack.com` part, and you're right when I need to clarify that.

By example: my Slack domain for test is `raelcunha.slack.com`, so my identifier is `raelcunha`.

Can you tell me if using this way it works? If not, I'll download a copy of 14.10 to debug.

[2015-02-14 18:46] raelgc commented on #3
@martinb3 I've edited the `README` file to include this info. Thank you for pointing me about the lack of explanation about it.

Are you now able to properly run the program?

[2015-02-16 18:31] KyleMacey opened #4 "Doesn't support uploading images from Clipboard"
What would it take to support pasting an image into ScudCloud?

Current Slack behavior automatically uploads and publishes images from the Clipboard when pasted into the Slack window.

[2015-02-16 18:35] raelgc commented on #4
Hi @KyleMacey!

Thanks for raising this.

Can you confirm if this behavior (enable paste image from clipboard) works only in Chrome?

[2015-02-16 18:47] KyleMacey commented on #4
## Test Results

Feature: **enable paste image from clipboard**

[code]

[2015-02-16 18:48] raelgc commented on #4
Thank you, man. I'll check how to enable that on ScudCloud.

[2015-02-17 22:02] KyleMacey opened #5 "Multiple Team Support (feature request)"
The beta app for OSX supports multiple teams in the left gutter, which actively monitors for notifications or unread messages. It also does not require the app to be reloaded to switch teams like the current Team Switcher does.

![OSX Beta Slack App](http://playbook.hanno.co/assets/images/slack.png)

Would it be possible to gracefully support this feature in ScudCloud?

[2015-02-18 14:52] raelgc opened #6 "Quicklist stops working after click in a channel"
After join a channel using Unity Launcher quicklist, the quicklist will no more works.

Some debug info: after join a channel (from quicklist), the `quicklist` method is called (probably with an empty channel list).

[2015-02-18 16:51] raelgc commented on #6
@KyleMacey sorry for move this to 6.

[2015-02-19 11:56] raelgc commented on #6
@KyleMacey: In a first moment, I just made the simple team switcher works. The second step will be investigate how the OSX app is implementing the left side bar.

[2015-02-24 16:56] raelgc opened #7 "Window menus"
Create Window menus with the following structure:

[code]

[2015-02-25 10:46] raelgc commented on #7
Just thinking better, there is no reason to have the `Navigation` menu. I'll move `Reload` to `Edit` and drop `Navigation`.

[2015-02-25 16:40] collinpeters opened #8 "Notification tray icon"
Would love to have a notification tray icon. I find it always helps when there is unread notifications for a messaging app to have an icon that changes if there are unread messages.

Thanks for ScudCloud!

[2015-02-25 17:00] raelgc commented on #8
Hi @collinpeters, welcome and thanks for raising this improvement!

I think I got so used to the `skype-wrapper` behavior (no tray icon, just count of unread messages on app icon; icon wobbling on new messages) that I didn't think about a tray icon.

I'll try add it as optional.

[2015-02-25 18:04] collinpeters commented on #8
Yeah, I guess we all get used to different things :) . I myself always hide the Unity panel and use a launcher (currently Kupfer but always looking for replacements) with the notification/tray.

[2015-02-25 18:43] raelgc commented on #8
Indeed, I forgot about the hidden launcher. Always good to provide option for all uses.

[2015-02-25 21:48] raelgc opened #9 "Add spell checking"
Add spell checking using the `SpellCheck` plugin from `qtwebkit` and `hunspell`.

`hunspell` and dictionaries are provided as a Ubuntu packages.

`SpellCheck` needs to be compiled from https://github.com/QupZilla/qtwebkit-plugins

[2015-02-26 11:35] nargiza-sarkulova opened #10 "OAuth2 auth popup opening in browser"
I'm trying to use ScudCloud but when I run it, it shows me a popup for OAuth2 auth. If I click 'Sign in with Google' and then 'Accept' it then opens me a Slack chatting page. But when I receive new messages the ScudCloud indicator on sidebar doesn't show me that I have new messages or number of them.

[2015-02-27 16:32] martinb3 commented on #6
I'd love to have this too. :+1:

[2015-02-27 19:52] raelgc opened #11 "Add Lato font"
Slack uses `Lato` for `sans-serif` family, not installed by default on Ubuntu.

[2015-03-04 04:39] kellevan opened #12 "Unity Required?"
Hello!

Disclaimer: I use Cinnamon.

[code]

Is Unity required?

Great looking app! Hopefully I can use it.

[2015-03-04 08:49] giAtSDU opened #13 "ImportError: bad magic number"
Not able to run:

[code]

[2015-03-04 10:33] raelgc commented on #12
Hi @kellevan, thanks for reporting this issue!

Basically, in this first version, Unity was required (due wobbling, quicklist and libnotify). But I think it'll be not that hard to make it work in other DEs.

I'll make it.

[2015-03-04 10:35] raelgc commented on #13
Hi @giAtSDU, thank you for reporting this issue.

If I correctly remember, this issue is present when I try to run ScudCloud with python2 instead of python3.

Anyway, you're using Mint, right? This first version requires Unity, but I'll make it work with other DEs, like described in #12

[2015-03-04 12:55] raelgc commented on #12
@kellevan I've just published a new version.

Can you run a `sudo apt-get update && sudo apt-get upgrade` and check if ScudCloud is working fine on Cinnamon, please?

[2015-03-04 12:55] raelgc commented on #13
@giAtSDU I've just published a new version.

Can you run a `sudo apt-get update && sudo apt-get upgrade` and check if ScudCloud is working fine on Cinnamon, please?

[2015-03-04 13:11] giAtSDU commented on #13
@raelgc I am  gettings the same error.

[code]

By the way python 3 is specified in your runnable, so it must be something else (than python 2) causing the problem.

[2015-03-04 13:12] giAtSDU commented on #13
@raelgc thanks for a quick attempt to solve the problem

[2015-03-04 13:20] raelgc commented on #13
@giAtSDU, I've found the reason: I generate `.pyc` (compiled python) files, and maybe the python3 version is different in your system.

Can you run, in terminal, `python3 --version` and tell me the output?

To me:

[code]

[2015-03-04 13:27] giAtSDU commented on #13
[code]

[2015-03-04 13:36] raelgc commented on #13
Thanks @giAtSDU, this explains the error.

I was about ask you to install a python PPA with newest version, but I think the easiest solution is just to include the plain `.py` (source) files and let the installed python take care of them.

[2015-03-04 13:42] giAtSDU commented on #13
@raelgc Sure.

Interesting, how file system access is to be handled? The software is installed and run from system directories by a user that has no access to write `.pyc` files.

[2015-03-04 15:07] raelgc commented on #13
@giAtSDU Two options here:

1. I can just keep the `.py` files, as python is an interpreted language.
2. I can ask for the `.deb` package, during install, to compile all `.py` to `.pyc`.

I'll pick the second.

[2015-03-04 15:54] raelgc commented on #13
@giAtSDU Changes uploaded!

Can you again, please, run a `sudo apt-get update && sudo apt-get upgrade`?

[2015-03-05 01:17] raelgc opened #14 "Close to Tray"

[2015-03-05 17:11] svpcom opened #15 "Add keyboard customizations (feature request)"
Add option to swap Ctrl-Enter and Enter - i.e. send message by Ctrl-Enter and new line by Enter.

[2015-03-05 17:30] raelgc commented on #15
Hi @svpcom, thank you for the feedback!

Indeed, you can create a multi-line message in Slack if you surround your message with ```

In fact, this sounds like a Slack internal feature, and while (in theory) I can try to change it, my idea is try to keep ScudCloud with a minimum interference in the Slack UI. I.e., keep the Slack UI as it is.

So, in a first moment, we should open this as a request

[2015-03-06 13:10] Shohou opened #16 "show number of unread chats on tray icon (feature request)"
I'm using ScudCloud on LinuxMint and like the tray icon which appears when I enable Close to Tray feature. What I miss is the number of unread chats on it.

It should show:
number of "direct messages" chats that have unread messages in them
number of channels and private groups with unread messages if notifications are enabled for them

[2015-03-06 13:15] Shohou opened #17 "open ScudCloud when (double)-clicking on tray icon (feature request)"
When I click (or double-click) on tray icon ScudCloud window should open. Now this happens when I right-click and choose Show, make this default action on simple click

[2015-03-06 13:39] syphernl opened #18 "Optimize tray support in Cinnamon"
In absense of an official Slack client I've found this one. A tray icon is something I was really looking for which is also missing from the Windows client so it's a nice bonus.

However, in Cinnamon it requires a rightclick + show to show the Window rather than a single-click.
It would be nice if this could be possible so it is behaving the same as other apps.

[2015-03-06 13:40] syphernl commented on #18
Err, someone beat me to it. #17

[2015-03-06 13:40] #18 closed

[2015-03-06 13:41] syphernl commented on #17
@Shohou What are you using on your desktop?
I'm using Cinnamon (Ubuntu 14.10).

[2015-03-06 13:55] Shohou commented on #17
I'm using LinuxMint 17.1 with Cinnamon, it's based on Ubuntu 14.04 I think

[2015-03-06 13:57] syphernl commented on #17
Sounds like a Cinnamon issue, but perhaps others (e.g. Unity or Gnome-shell users) are experiencing the same. I've seen it before with other apps which needed a little tweaking also to get it to work fine in Cinnamon.

#

Scroll would also be nice. Scroll up: show, Scroll down: hide.

[2015-03-09 07:50] Shohou commented on #17
Thanks for implementing this so fast!

It's still not perfect. If ScudCloud window is open (in background) and some other window is in foreground clicking on tray icon closes ScudCloud instead of bringing it to foreground. I need to click twice to get it to foreground

[2015-03-09 09:30] immerrr opened #20 "scudcloud package doesn't seem to work on Ubuntu 12.04"
Is Ubuntu 12.04 supported by scudcloud? I see the package in PPA, but it doesn't seem to work.

After the recent change when `pyc` files started being generated by system-wide `python3`, having installed a missing dependency `python3-dbus`, and having downloaded `fonts-lato` package from a newer distribution, scudcloud finally started up, which is great. But unfortunately after logging in it is on

[2015-03-09 10:07] syphernl opened #21 "Custom CSS injection"
It would be nice if we could somehow inject custom CSS into the webview.

The use case for this to flip the colors in the content area. Slack allows customization of the sidebar but not the content area which is extremely white and really needs some tweaking.

[2015-03-09 12:01] raelgc commented on #20
@immerrr Thanks for reporting this issue.

So, these are the problems in 12.04?
1. `python3-dbus` missing as required package;
2. `fonts-lato` is not present in 12.04;
3. the left pane appears to not work (as the right pane appears to be ok).

Can you confirm that?

[2015-03-09 12:06] immerrr commented on #20
@raelgc I can confirm the first two.

As for the third, it seems that the whole start up procedure hangs, but now paying closer attention to how a successful startup goes on in Chrome, I see that the right pane is populated only when something happens in the left one, so it may very well be like you say.

[2015-03-09 12:12] immerrr commented on #20
Thanks for the prompt response, btw :) It's always amazing when unofficial solutions emerging from scratching an itch become better than their official counterparts. :+1:

[2015-03-09 12:21] raelgc commented on #20
Thanks @immerrr :)

For the first issue, if I just add the missing dependency to the package will be enough.

For the second, I can try include the `fonts-lato` package using the [sources in Launchpad](https://launchpad.net/ubuntu/+source/fonts-lato/1.104-2).

For the third: I think it's something related to the webkit version it's installed in Precise. There is a PPA that install newest versions

[2015-03-09 12:31] immerrr commented on #20
I know about deadsnakes PPA, but unfortunately it won't help in presence of third-party compiled python packages (like PyQt4): they should be built against specific version of python and the `python-pyqt4` package in 12.04 is built against 3.2.

If scudcloud had a more conventional package structure, I could install it with pip into a virtualenv, but there's no setup.py and akin. Is there a reason

[2015-03-09 12:34] raelgc commented on #20
@immerrr Yes, the reason is: I learned python, webkit and all related stuff just to build ScudCloud, so I was not aware about it :)

Can you help me with that?

My first question: can a pip package be installed in `/opt`?

[2015-03-09 12:41] immerrr commented on #20
Yes, it can, it's somewhat unconventional, but [happens in the wild](https://graphite.readthedocs.org/en/0.9.10/install.html#default-installation-layout).

[2015-03-09 12:43] raelgc commented on #20
Cool!

So, if we use a `pip` package, newer version of PyQt4 can be installed?

[2015-03-09 13:38] immerrr commented on #20
To upgrade PyQt4 one also has to upgrade system-wide libqt packages, so it is not _that simple_ (python binary packages were always somewhat complicated), but yes, it is doable.

[2015-03-10 01:35] raelgc commented on #20
@immerrr What appears to fail is something related to JavaScript.

You can enable JavaScript console in ScudCloud running in terminal:
    scudcloud --debug=True

Then you can right click in any place in the window and select `Inspect`. Then go to `Console` and see if some error is displayed in the console.

[2015-03-10 08:06] immerrr commented on #20
Here's what I see in the console:

[code]

[2015-03-10 12:05] raelgc commented on #20
@immerrr Ok, I've added `python3-dbus` to dependencies and uploaded a `fonts-lato` package for Precise in Launchpad.

About the JS error: this is sad. My hope was that my JS insertion was causing the failure. Appears that our only solution will be upgrade PyQt4.

[2015-03-10 12:26] raelgc commented on #20
Appears that you can build a newer PyQt4 using SIP: http://movingthelamppost.com/blog/html/2013/07/12/installing_pyqt____because_it_s_too_good_for_pip_or_easy_install_.html

[2015-03-10 12:53] immerrr commented on #20
I have recently been using [miniconda](http://conda.pydata.org/miniconda.html), it makes working with binary packages a lot easier and it already has fresh qt4 & pyqt4 packages. However, dbus & gi-related packages are missing there, I'll try to build them tomorrow and see if it will help to fix the issue.

[2015-03-10 12:58] raelgc commented on #20
@immerrr You cannot keep the defaults `python3-gi` and `python3-dbus` ones?

[2015-03-10 13:01] immerrr commented on #20
That's the downside of conda: its virtualenvs don't use system-wide python packages.

[2015-03-10 13:24] raelgc commented on #20
@immerrr One idea: if we can track files installed by conda, maybe we can create a `.deb` package with that and place files overriding Ubuntu ones.

[2015-03-10 13:44] raelgc commented on #17
Please, update and test again. I think it's fixed now.

[2015-03-10 13:44] #17 closed

[2015-03-10 13:53] Shohou commented on #17
Yep, works perfect. Thank you!

[2015-03-10 23:32] raelgc commented on #20
@immerrr I can see the following Python packages in the Conda installer:
- python-3.4.2-0
- conda-env-2.1.3-py34_0
- openssl-1.0.1k-0
- pycosat-0.6.1-py34_0
- pyyaml-3.11-py34_0
- readline-6.2-2
- requests-2.5.3-py34_0
- sqlite-3.8.4.1-0
- system-5.8-1
- tk-8.5.15-0
- xz-5.0.5-0
- yaml-0.1.4-0
- zlib-1.2.8-0
- conda-3.9.1-py34_0

Are you sure Qt is included?

[2015-03-11 08:13] immerrr commented on #20
They are probably not installed by default, but they are available via the official conda distribution channel (aka `defaults`):

[code]

[2015-03-11 09:35] syphernl opened #22 "Scudcloud steals focus"
When a (direct) message comes in it steals the focus.
Pretty annoying if Scudcloud is active on a second screen and you're working on the primary one writing code / mails etc :-)

Also potentially insecure since it might send sensitive data if you're typing a password :-)

[2015-03-11 09:35] arnaugm opened #23 "Number of unread chats for non direct messages"
I have the notifications preferences adjusted to send desktop notification for "Activity of any kind", but I only see the unread chats number in the Ubuntu Unity pannel when I receive a direct message. Is this a bug or I didn't find a hidden option in the settings?

[2015-03-11 11:41] raelgc commented on #22
Hi @syphernl, thank you for reporting this issue.

Are you using Cinnamon, right?

This behaviour is caused by `QApplication::alert`, used in non Unity environments. This method should `this will cause the window to be marked as "demands attention"`, but not steal focus.

Some environments react to this just blinking the window in the taskbar/launchbar.

Maybe I can just remove that. But probably

[2015-03-11 11:44] raelgc commented on #23
Hi @arnaugm, thanks for reporting this issue.

In fact, in the launcher, ScudCloud is following the number of unread direct messages. I.e., it's counting the number of unread messages in the left panel of Slack.

Probably the solution is to just count the number of notifications until the user focus the ScudCloud window.

[2015-03-11 11:52] syphernl commented on #22
Yes, I am indeed using Cinnamon (Ubuntu 14.10 + Cinnamon 2.2).

[2015-03-11 12:06] arnaugm commented on #23
Yes sounds like an option. How hard is to implement that? Can I help? I'm not very fluent with python but if it's only a small change...
Otherwise is not much more useful than the web version for me as my main activity is in channels and private groups.

[2015-03-11 12:37] raelgc commented on #23
@arnaugm The only downside: I can wobble the launcher icon (for a new message when the window is not focused), but I'll be not able to track the number of unread messages (as Slack do not provide them, just the number of direct mentions).

[2015-03-11 17:41] raelgc commented on #20
I've downloaded the full AnaConda and appears there is no `dbus` package on it (for `python3-dbus`).

[2015-03-11 18:25] OlivierBondu opened #24 "crash on ubuntu 14.04"
Hi,

I am trying to install scudcloud on Ubuntu 14.04 LTS freshly installed, but it does not start, please see the error below.

anything I can do to help ? Looking forward to have a linux slack app :)

Cheers,

Traceback (most recent call last):
  File "<frozen importlib._bootstrap>", line 2135, in _find_spec
AttributeError: 'DynamicImporter' object has no attribute 'find_spec'

During handling o

[2015-03-11 19:07] raelgc commented on #24
Hi @OlivierBondu, thanks for reporting this issue!

This sounds like a missing dependency from my side.

Can you try install the `gir1.2-unity-5.0` package?

    sudo apt-get install gir1.2-unity-5.0

And then try run ScudCloud again?

[2015-03-11 20:38] raelgc commented on #24
Please, let me know if that works :)

[2015-03-11 20:41] OlivierBondu commented on #24
It does :) thanks !

[2015-03-11 23:53] immerrr commented on #20
I have mocked up a version that starts up and doesn't load slack page, but loads plain-http pages. It cannot be so easy, can it? Apparently, qt & pyqt conda packages are built without ssl support.

[2015-03-12 00:06] raelgc commented on #20
And if we try with `pip` or `sip`?

[2015-03-12 02:04] immerrr commented on #20
pyqt has its own pip-incompatible installers, so pip won't help with it either.

I rebuilt pyqt=4.10.4 under conda and got scudcloud running there under py2, but unfortunately it exhibits the same behaviour. The next step is to try and upgrade qt itself.

[2015-03-12 09:59] immerrr commented on #20
I have brought up a VM with ubuntu 14.04 and installed xfce with python-qt4 examples, one of examples is fancybrowser implemented with QtWebkit and it fails in the same manner.

[2015-03-12 10:08] immerrr commented on #20
While installing into a fresh ubuntu-server distro I have also found that you need to require `xdg-utils` package to use `xdg-icon-resource` in postinst scripts.

[2015-03-12 10:10] immerrr commented on #20
But scudcloud unlike fancybrowser actually works when installed from the package.

[2015-03-12 11:26] raelgc commented on #20
I saw that the error displayed in 12.04 is related to `jquery-ui-widget`. If we were able to find a working version of `jquery-ui`, maybe we can inject it into ScudCloud. What is the exact `qtwebkit` version included in 12.04? Then we can try search something related in the web.

[2015-03-12 11:50] immerrr commented on #20
The exact version of libqt4-webkit is 4.8.1[*](http://packages.ubuntu.com/libqt4-webkit) and libqtwebkit4 (which seems to provide the actual libQtWebkit.so file) is 2.2.1[*](http://packages.ubuntu.com/libqtwebkit4).

[2015-03-12 14:05] immerrr commented on #20
Just finished rebuilding fresher qt in conda and it doesn't seem to help.

[2015-03-12 15:55] raelgc commented on #20
And how if we use the deadsnakes PPA, and over it we add 14.04 qtwebkit packages?

[2015-03-12 18:53] jnankin opened #25 "Receiving "Error listening the socket" on launch"
When I launch scudcloud I get a dialog that pops up and says "error listening the socket".  Then, when I try to log in, it never loads slack and just says "Loading..."

[2015-03-12 19:04] raelgc commented on #25
Hi @jnankin, thank you for reporting this issue.

Which distro are you using? Do you have any other ScudCloud instance minimized to systray?

[2015-03-12 19:06] jnankin commented on #25
ubuntu 14.04, and this happens as soon as I launch the app.  It shows up in
the systray, and the main app launches and just says "Loading"

On Thu, Mar 12, 2015 at 2:04 PM, Rael Gugelmin Cunha <
notifications@github.com> wrote:

[2015-03-12 19:14] lalomartins opened #26 "How do I enable desktop notifications?"
Every time I load ScudCloud, it (or rather Slack) asks me to enable desktop notifications. If I attempt to do that in the preferences, it says “your browser should now be presenting you with the option…”, but there's no permission request, and if I close and reopen preferences, notifications are still not enabled.

[2015-03-12 19:14] lalomartins commented on #26
(BTW I figured I'd post this as an issue because, even if it turns out to be invalid, at least it's here for future users to find with a search :smile_cat:)

[2015-03-12 19:16] raelgc commented on #25
@jnankin Can you, please, perform a `sudo apt-get update && sudo apt-get dist-upgrade` to make sure all python packages are updated?

Because yesterday I tested in a vanilla Trusty, and only after update system it worked fine.

[2015-03-12 19:26] raelgc commented on #26
Hi @lalomartins, thanks for reporting this issue.

What I try to make it's to provide to Slack engine that info that notifications are always available, but sometimes (it's not clear to me) this doesn't happen and then the desktop notifications didn't work.

Are you under a too fast or too slow internet connection? This always happen, even when you close and open again ScudCloud?

[2015-03-12 19:31] lalomartins commented on #26
I have a 100Mb cable internet. It can be “too fast” at times, I suppose. I **believe** it always happens, but that could be a bias, maybe it just happened the last 3 or 4 times in a row. I just closed and reopened it because you asked, and now it sees notifications as enabled, I even did the test notification thing.

Maybe the issue is that my computer gets really slow for a few minutes after logg

[2015-03-12 19:38] raelgc commented on #26
If we got able to isolate that situation, I could inject the ScudCloud notification in the correct timing and solve this kind of issue.

[2015-03-12 19:43] lalomartins commented on #26
well as a replication strategy, I'd suggest installing ubuntu in a (preferably slow) VM, with home dir encryption on, then putting ScudCloud on “startup applications”; that should slow it down enough. If you need to slow down a little more, also put Chrome or Chromium on startup, set it up to “reopen tabs from last time”, and leave a bunch of tabs open — this has the benefit that you can fine-tune

[2015-03-12 19:49] raelgc commented on #26
@lalomartins Thank you for the tips, I'll try.

QtWebkit, at least on 14.04, doesn't handle the Notification permission. I tried to insert some JavaScript code during page loading to Slack thinks there is a Notification object available (always returning `granted`), but it's not clear why this doesn't work in some situations (if I'm inserting too early or too soon).

[2015-03-12 20:34] raelgc commented on #26
@lalomartins I've just uploaded a new version with a minified JS (I removed useless stuff too). Hope it loads faster and avoid this issue.

Please, update to check if it improves a bit.

[2015-03-12 20:38] lalomartins commented on #26
@raelgc I'll only know for sure next time I log in (which I'm not willing to do right now as I'm in the middle of something — maybe tomorrow). But I started a grep -r in a huge directory, then I started LibreOffice, then I started ScudCloud — that should come close enough ;-) — and it worked.

[2015-03-12 20:46] jnankin commented on #25
Yes that definitely fixed the dialog problem for me.  But slack still isn't
loading.  When I launch scudcloud from the cli I get:

"sni-qt/5637" WARN  15:45:14.872 void
StatusNotifierItemFactory::connectToSnw()
Invalid interface to SNW_SERVICE
No bp log location saved, using default.
[000:000] Cpu: 16.2.3, x4, 2200Mhz, 5842MB
[000:001] Computer model: Not available
[000:001] Browser XEmbed support

[2015-03-12 20:47] jnankin commented on #25
I just see the attached screen.

On Thu, Mar 12, 2015 at 3:46 PM, Josh Nankin <jnankin@gmail.com> wrote:

[2015-03-12 20:47] jnankin commented on #25
I just see this screen
![screenshot from 2015-03-12 15 46 44](https://cloud.githubusercontent.com/assets/541969/6627843/26e7eb1e-c8cf-11e4-9962-dd88b90d7367.png)

[2015-03-12 20:51] raelgc commented on #25
@jnankin Can you, please, close ScudCloud, then:

1 - Start it from the terminal this way: `scudcloud --debug=True`
2 - Right click in ScudCloud window and select `Inspect`.
3 - Maximize the Inspector and select `Console` at top.
4 - Watch for JavaScript errors.

There is people reporting JS errors on 12.04 (Issue #20) due old webkit included with PyQt, but still not 14.04.

[2015-03-12 21:45] jnankin commented on #25
Yes, I see JS errors.  See attached.
![screenshot from 2015-03-12 16 44 36](https://cloud.githubusercontent.com/assets/541969/6628881/1f594f02-c8d7-11e4-9a57-2591937f9579.png)

[2015-03-12 21:46] jnankin commented on #25
looks the same as on #20

[2015-03-12 21:46] jnankin commented on #25
oops, and I actually am running on 12.04.  Sorry about that.  We can close and mark this as a dup then.

[2015-03-12 21:46] #25 closed

[2015-03-13 08:26] garagatyi commented on #20
I've faced with this problem too. ScudCloud hangs on load screen.

[2015-03-13 09:18] white-gecko opened #27 "Packages don't work on debian"
I'm trying to install scudcloud on a debian jessie and added the ppa as `utopic` and also tried `trusty` but there are unmet dependencies:

    The following packages have unmet dependencies:
     scudcloud : Depends: python3-pyqt4 but it is not going to be installed
                 Depends: libunity9 but it is not installable
                 Depends: gir1.2-unity-5.0 but it is not installable

[2015-03-13 09:34] white-gecko commented on #27
I've tried to build the package with `dpkg-buildpackage` but still have the same dependency issues. While `python3-pyqt4` can be resolved and I would try to ignore the unity dependency, since you write in the README : “channels quicklist (Unity only)”, so I guess this can be deactivated. But what is `libqtwebkit-qupzillaplugins`? I can't even find it in the [ubuntu packages](http://packages.ubuntu

[2015-03-13 09:42] white-gecko commented on #27
Removing the unity dependencies and `libqtwebkit-qupzillaplugins` lets me atleast install the package and it also seams to run.

[2015-03-13 12:05] raelgc commented on #27
Hi @white-gecko, thanks for reporting this issue!

Cool you're trying to make it run on Debian. Debian was the responsible to make me see how nice the Linux world can be.

The `libqtwebkit-qupzillaplugins` package I've created just for ScudCloud: the goal is to add the spell checker. I.e, to make a red sub mark in words that are not in `hunspell` dictionary. I've built this package based on webit

[2015-03-13 12:24] raelgc commented on #20
Hi @garagatyi!

Yeap, unfortunately, the packaged version of qtwebkit in Precise is displaying some JavaScript issues with the `jquery ui widget` plugin that are preventing Slack to be loaded inside ScudCloud.

We're trying to find ways to get an updated version ot qtwebkit in Precise, but appears to be not easy.

[2015-03-13 14:53] NyanSten commented on #27
Why are `libunity9` and `gir1.2-unity-5.0` required? I haven't find either used anywhere in the sources. Also, `libqtwebkit-qupzillaplugins` seems not to be required so I would suggest moving it to Recommends instead.

[2015-03-13 15:30] immerrr commented on #20
I have backported qtwebkit4 package using hybrid precise/trusty system and it seems to fix this issue. It doesn't work on my computer because I have skype which depends on i386 version of qtwebkit4 and it has to be backported as well (which I don't have time for now), but it works on a clean 12.04 vm.

I'm uploading them to dropbox and will post links as soon as they are up. I didn't care about gi

[2015-03-13 15:44] immerrr commented on #20
Here's the folder: https://www.dropbox.com/sh/8pq1gxo3jgtrpvv/AAA-tLoUua_AcxbgEkUusMZRa?dl=0:
- `liborc` is a vanilla trusty package (can be downloaded from there)
- gstreamer\* packages were rebuilt without package source modifications
- libqtwebkit4 package omits `qt4-default` dependency (which is absent in precise and is not necessary as there's no qt5 in the first place) but otherwise is uncha

[2015-03-13 15:49] white-gecko commented on #27
Isn't there a spellchecker in webkit already? Firefox has something like that.

[2015-03-13 15:54] raelgc commented on #27
@StenSoft `libunity9` is required by Unity class. `gir1.2.-unity-5.0` is required for Gi, i.e., Unity too. So, for Debian both are not required, as `libunity` can be dropped in this case.

@white-gecko Spell checker is not built in in webkit. I had to add a webkit plugin for it (it's not related to browser plugins). It's not required, of course, but it's easy to rebuild the package for Debian (it

[2015-03-13 15:57] raelgc commented on #20
@immerrr This is awesome! And it the trusty ones are working, I can back-port them to Precise. Let me take a look... but in advance: this is really awesome!

[2015-03-13 16:03] NyanSten commented on #27
@raelgc Oh, I see now. I would suggest instead of `"ubuntu"==os.environ.get('DESKTOP_SESSION')` to do autodetection:

[code]

and then in `__init__`:

[code]

and in `quicklist`:

[code]

Then, you can move `libunity9` and `gir1.2.-unity-5.0` to Recommends.

[2015-03-13 16:04] raelgc commented on #20
@immerrr If you can send me the `libqtwebkit4` source package, I can upload it to the PPA for Precise.

[2015-03-13 16:09] raelgc commented on #27
@StenSoft I like your suggestions! Are you able to create a pull-request with these changes?

[2015-03-13 16:10] NyanSten commented on #27
@raelgc I will, during the weekend

[2015-03-13 16:16] immerrr commented on #20
There's not much to add: I simply downloaded the offical trusty's qtwebkit-source and deleted `qt4-default` from build dependencies.

[2015-03-13 16:19] raelgc commented on #20
@immerrr cool!

I'll follow your comments and build them all for Precise! :clap:

[2015-03-13 16:49] raelgc commented on #20
@immerrr Just to double check: with Precise vanilla `python3`, right?

[2015-03-13 16:54] immerrr commented on #20
Yup, the only extra thing I required was `xdg-utils`, but I have reported it somewhere before.

[2015-03-13 17:35] raelgc commented on #20
@garagatyi Please, try install the `.deb` files from @immerrr dropbox: https://www.dropbox.com/sh/8pq1gxo3jgtrpvv/AAA-tLoUua_AcxbgEkUusMZRa?dl=0

[2015-03-13 20:39] garagatyi commented on #20
I have skype too

[2015-03-14 01:15] raelgc commented on #20
@immerrr Do you mind in generate a i386 package for `libqtwebkit4` too? I'll include them in this repo.

[2015-03-15 02:24] immerrr commented on #20
Yup, I have rebuilt the packages and dropbox should sync their new versions in about 30 minutes.

However there is a deeper problem: I have built a total of 43 packages, and some of those depend on specific version of each other, i.e. if one wants, say, to install `libqtwebkit4-dev` that package has to be of the same version as `libqtwebkit4`. Hence the PPA has to provide all of those.

I think it

[2015-03-15 10:24] immerrr commented on #20
Okay, I have found [ppa:gstreamer-developers/ppa](https://launchpad.net/~gstreamer-developers/+archive/ubuntu/ppa) which provides most of the packages. It was interesting to start using PPA for me, so I have gone through creating [ppa:immerrr-k/qtwebkit4-backport](https://launchpad.net/~immerrr-k/+archive/ubuntu/qtwebkit4-backport), but for simplicity I think it is useful to have the package in sc

[2015-03-15 11:34] immerrr opened #29 "fonts-lato package is old and doesn't render cyrillic"
This is what I see with the currently available `fonts-lato` package:
![lato-cyrillic](https://cloud.githubusercontent.com/assets/579798/6655806/1e72eed8-cb0f-11e4-8d56-457530a2740c.png)

According to http://www.latofonts.com/lato-free-fonts/, 2.0 version includes cyrillic glyphs and should fix this issue. `fonts-lato=2.0-1` is [available in utopic without any dependencies](http://packages.ubuntu.

[2015-03-15 11:46] immerrr opened #30 "Allow zooming in to reduce eye strain on high-dpi displays"
I have a 1080p laptop display and use 120-140% font size everywhere but scudcloud doesn't support zoom shortcuts and the text feels too small to read.

[2015-03-15 15:06] raelgc commented on #20
@immerrr Loved it! I think it's not a problem people get using these PPAs, as a updated `qtwebkit` is really useful for other different goals.

I'll update instructions on README for Precise.

[2015-03-15 15:09] raelgc commented on #29
Reminder to myself: See http://pyqt.sourceforge.net/Docs/PyQt4/qwebview.html#setZoomFactor

[2015-03-15 15:10] raelgc commented on #30
Reminder to myself: See http://pyqt.sourceforge.net/Docs/PyQt4/qwebview.html#setZoomFactor

[2015-03-15 15:30] #27 closed

[2015-03-15 15:32] raelgc commented on #27
@StenSoft Great, I'll upload the package in few hours. Any special instruction that I should add to the README to get it working on Debian? (Maybe to skip the `recommends`?)

[2015-03-15 15:39] NyanSten commented on #27
Not really. Recommends mean that it is nice to have but not necessary so when the packages are not available, they will be just skipped by Apt.

[2015-03-15 18:15] raelgc commented on #29
@immerrr Thanks for investigate this, man!
`fonts-lato_2.0-1` published for Trusty and Precise.

[2015-03-15 18:15] #29 closed

[2015-03-15 19:04] white-gecko opened #31 "Scudcloud sets the volume to 100%, when playing sound"
Scudcloud seams to set the volume to 100%, when playing the notification sound. I can reproduce it by setting the volume to some silent value, clicking on “Send test notification” in the preferences. The first one is on normal volume, clicking “Send test notification” a second time will play the notification on 100% volume.
I'd expect the notification sound to always be played at the system set vo

[2015-03-15 21:06] raelgc commented on #31
@white-gecko Which distro, version and DE are you using? To be honest, there is no single line dedicated to sound in ScudCloud.

The only thing that come to my mind is: I'm just enabling the webkit plugins. Maybe they're changing the volume.

Can you test this: open `/opt/scudcloud/lib/wrapper.py`, comment/disable this line (using `#` char):

[code]

Restart ScudCloud and check if this stop to hap

[2015-03-16 08:34] white-gecko commented on #31
Thank you for your reply. But this doesn't seam to fix the problem. I still see the same behavior.

[2015-03-16 19:13] gmmeyer opened #33 "Notifications No Longer Work"
I log on, it says stuff about enabling notifications:

![scudcloud_076](https://cloud.githubusercontent.com/assets/3253673/6674244/c7745924-cbee-11e4-9492-b5d357c646ab.png)

I enable the notifications:
![scudcloud_077](https://cloud.githubusercontent.com/assets/3253673/6674270/e9529088-cbee-11e4-87f1-fcdfcb4d89bc.png)

Then it says this:
![scudcloud_078](https://cloud.githubusercontent.com/assets/

[2015-03-16 22:02] raelgc commented on #31
@white-gecko: the sound part is produce by Slack HTML, which runs under QtWebkit.

We can try to isolate this issue (maybe update some component), but you need to tell me which distro, version, desktop environment and QtWebkit you're using.

[2015-03-16 22:04] #20 closed

[2015-03-16 23:29] white-gecko commented on #31
Ah sorry, I forgot that in the last post: Its Debian/jessie with Gnome 3.14.1 and [libqtwebkit4 2.3.4](https://packages.debian.org/jessie/libqtwebkit4)

[2015-03-17 12:54] immerrr opened #34 "deb-package leaves compiled python files behind after deletion"
Compiled files are not deleted as shown below:
[code]

Short term solution would be to delete those files in `prerm` script according to [debian python policy](https://www.debian.org/doc/packaging-manuals/python-policy/ch-module_packages.html#s-byte_compilation). A better but more complicated way would be to use proper debhelper python support machinery. I have found some more info  [here](https:/

[2015-03-17 12:59] raelgc commented on #34
We can do in 2 steps. For now with `prerm`. Then we can create a separate issue to create a proper python package later.

[2015-03-17 20:45] raelgc commented on #30
@immerrr Is shortcuts to Zoom enough?

[2015-03-17 20:46] immerrr commented on #30
Yup, should be..

[2015-03-17 20:51] raelgc commented on #30
I mean, they works, but just wondering if you want something more advanced, like save latest zoom state, etc.

[2015-03-17 20:53] immerrr commented on #30
It would be nice to preserve zoom across sessions. For now it is ok as it is only a couple keypresses away.

[2015-03-17 22:11] raelgc commented on #30
Done with saving/restoring :)

Probably tomorrow morning I'll publish the updated version with all latest fixes/improvements.

[2015-03-18 16:05] ch1m1d opened #36 "Few account switching problem"
Hi @raelgc.
I'm using two Slack accounts and after I added second one, I've gotten an issue with team labels at the left sidebar:

![Problem with team switching](http://i.imgur.com/pBNQWXL.png)

I'm unable to switch teams using this panel. My system: Ubuntu 14.10/Unity

[2015-03-18 16:13] raelgc commented on #36
Hi @ch1m1d, thanks for reporting this issue!

Just to try to isolate this problem: the issue (not listing the other team) persists even after a close/restart?

[2015-03-18 21:23] DmitriyBaklikov commented on #36
yes, even rebooted once to be definitely sure :)

[2015-03-18 21:28] raelgc commented on #36
Right. Thanks for checking that.

I'll download a 14.10 image and test.

[2015-03-18 22:45] raelgc commented on #36
@ch1m1d I just downloaded the 14.10 iso, installed in a VM, then installed ScudCloud, and it worked fine.

![essgxd1](https://cloud.githubusercontent.com/assets/263302/6720945/08596196-cda7-11e4-8246-39f770350a85.png)

Can you try delete your `~/.scudcloud` file and restart the program again, please?

If this do not works, start scudcloud with: `scudcloud --debug=True`.

Then, right click over the

[2015-03-18 22:54] topher1kenobe opened #37 "Package for Arch Linux AUR"
I'd love to see a packager for the AUR.  Thanks!

[2015-03-19 00:05] raelgc commented on #37
@topher1kenobe Can you run, please, a test for me?

Can you check if this [tool](https://bbs.archlinux.org/viewtopic.php?id=187558) works to convert the packages?

The debian packages are located here (you need just the `.deb` files): https://launchpad.net/~rael-gc/+archive/ubuntu/scudcloud/+packages

Trusty is the current Ubuntu version. Short explanation of the packages:
- `scudcloud` is the pro

[2015-03-19 21:12] someben opened #39 "Fixed Width"
Please add support for the Slack fixed width markup, via backticks:
https://slack.zendesk.com/hc/en-us/articles/202288908-Formatting-your-messages

[2015-03-19 21:21] raelgc commented on #39
@someben Can you explain a bit more? I use the backticks all the time, as this is something internal to Slack.

How ScudCloud is performing this different then the web version?

[2015-03-19 21:31] someben commented on #39
@raelgc Thanks for looking into this. Here is the Slack web client:
    https://dl.dropboxusercontent.com/u/46801122/slackweb.png

And here is the same under v1.0-20 of ScudCloud on Linux Mint 17.1:
    https://dl.dropboxusercontent.com/u/46801122/scudcloud.png

Note that the font is not actually fixed-width.

[2015-03-19 21:43] raelgc commented on #39
@someben Thanks for clarify that!

I'll need to inspect that in browser to mark the same font as a required package. The reason I didn't see that is probably because I already have that font installed.

[2015-03-20 01:37] raelgc commented on #39
@someben Can you, please, install this package? It contains one of the fonts used by Slack as fixed width (`Courier New`) and it's available in Ubuntu:

    sudo apt-get install ttf-mscorefonts-installer

Then restart Scudcloud.

[2015-03-20 09:34] advancingu commented on #15
Shift+Enter lets me write multiline messages with Slack under Firefox. Wouldn't this work with Scudcloud if it's just a web view?

[2015-03-20 11:43] raelgc commented on #15
Yes, it works in the same way.

[2015-03-20 13:06] raelgc commented on #37
@topher1kenobe Can you try with the following instructions?

First: you'll need this package (linked here to `64bits`): https://www.archlinux.org/packages/extra/x86_64/python-pyqt4/

Then run in term:

[code]

[2015-03-20 13:49] martinb3 opened #40 "Activity notification needed for multiple instances"
Hi there --

When I have two browser tabs open with different slack instances, each turns red if there are new messages to me in it. Even if I'm focused on one, I can easily see that there are notifications or unread messages in the other. When you using the same functionality in scudcloud, the instance list down the left side does not indicate which instances have unread messages or activity.

Fo

[2015-03-20 13:56] raelgc commented on #40
Hi @martinb3, thanks for reporting this!

Can you just tell me how many tabs do you have opened now? Man, your tab size is so small, I can imagine you have more than 30 tabs opened at least :D

I just tested in browser, and I can see the red mark is displayed when you got mentioned.

My initial idea for that is to try display a red right border in the team you got mentioned.

[2015-03-20 14:00] martinb3 commented on #40
HI @raelgc -- Thank you for triaging this :)

The tabs are small because I have pinned them as 'app tabs' in Firefox:
https://support.mozilla.org/en-US/kb/pinned-tabs-keep-favorite-websites-open

A bright red border would be awesome! Thank you!

[2015-03-20 14:25] raelgc commented on #40
@martinb3 Wow, this is a really useful extension! Thank you for sharing this!

[2015-03-20 15:25] someben commented on #39
Yup, that fixed it!

[2015-03-23 08:58] zaadjis opened #41 "TypeError in stopAlert(): Can't convert 'NoneType' object to str implicitly"
Happens when switching accounts (have 2 accounts, 1st is open after launch, I click 2nd account, apport presents a "Crash report" and scud alerts "already started"; scud doesn't actually crash/close).

Interesting bits from apport's report:
[code]

[2015-03-23 11:01] raelgc commented on #41
Hi @zaadjis, thank you for reporting this issue and attach the stack!

I'll publish a fix in the next minutes :)

[2015-03-24 08:58] DmitriyBaklikov commented on #36
@raelgc just tried and team switcher bar is inaccessible by inspector.

[2015-03-24 12:28] raelgc commented on #36
@ch1m1d My bad!

Please, using `sudo`, edit file `/opt/scudcloud/lib/leftpane.py` and comment these lines like below:

[code]

Then try again run as `scudcloud --debug=True` and then right click in the left pane, open the `Inspect` > `Console` to find JS errors.

[2015-03-24 15:02] immerrr opened #42 "Strip redirection code when copying links"
Right now if you type `www.google.com` into the chat window and copy the resulting link, it looks like the following: `https://slack-redir.net/link?url=http%3A%2F%2Fwww.google.com&v=3`

Would be nice to strip all but the url part.

[2015-03-24 15:51] raelgc commented on #42
Well, I think we can try to improve this in one side, but in other try to keep the original behaviour.

I.e.: if the user directly click in the link, we keep the original behaviour: the URL will be redirected by `slack-redir.net`.

If the user right click and copy the link, then we can skip the redirect engine.

How about it?

[2015-03-24 15:52] immerrr commented on #42
Yup, this is exactly what I have asked :)

[2015-03-26 11:26] Rask opened #43 "Allow usage of Ctrl-#no to switch teams"
I'm part of a few different Slack teams, and I'm used to the Ctrl-1,2,3,n... keyboard shortcut to switch between teams in the UI in the native Windows client.

Is this a planned feature for ScudCloud or not?

[2015-03-26 11:29] raelgc commented on #43
Why not, good sir? :)

[2015-03-26 12:48] raelgc commented on #43
@Rask My plan is to work on this during the weekend.

[2015-03-27 08:07] Rask commented on #43
Awesome, I'll be ready to test it once in that phase. :+1:

[2015-03-27 14:49] krystiannowak opened #44 "No support for SAML auth"
When given team uses SAML auth on Slack, then a page showing this is only visible:
_This team requires you to sign in with your SAML account._
and the _Sign in with SAML_ button opens new browser ourside of ScudCloud, so even after logging in outside of ScudCloud doesn't do anything as the page open inside ScudCloud (embedded into it) is not authenticated.

[2015-03-27 16:14] raelgc commented on #44
Hi @krystiannowak, thanks for reporting this issue!

I'm aware of the lack of support for SAML auth.

There is one problem with it: I don't have a test environment to test SAML auth with ScudCloud. Do you think it's possible create a test user for me to accomplish that?

If yes, you can send me login, etc, by email.

[2015-03-27 21:52] Exoth opened #45 "Spell checking of multiple languages"
I regularly type in both English and Russian languages.
So when I have both hunspell-en-us and hunspell-ru packages installed, English language is spellchecked, but all Russian words are considered wrong.
Is there any way to spellcheck in multiple languages at the same time?

[2015-03-27 23:32] raelgc commented on #45
One possible workaround is to try merge both dictionaries in a new one like described here: http://superuser.com/questions/693283/use-multiple-languages-at-once-for-the-dictionary

Then placed it where hunspell dictionaries are installed.

[2015-03-29 20:46] krystiannowak commented on #44
@raelgc For now, not 100% sure, but we might try by providing e.g. server responses or HTML source that I see - would that be of any help?

[2015-03-29 21:04] raelgc commented on #44
@krystiannowak Other way that came to my mind: using the Slack in the webbrowser, you can just give me the list of URLs involved during the SAML auth, so I can try do ScudCloud open those URLs directly.

[2015-03-30 07:03] ExClouds opened #46 "How to enable autologin"
Each time i start my system, i have to login, again..
Is there a way to make scudcloud auto-login in to account?

[2015-03-30 07:04] krystiannowak commented on #44
@raelgc it seems it goes to https://YOURSLACK.slack.com/sso/saml/start and it then returns 302 Found with Location header pointing to your SAML service exposed and configured for YOURSLACK instance e.g. https://saml.my.org/adfs/ls/?SAMLRequest=xyz... And there is again some more 302s. Maybe there would be an option to provide just URL prefixes or hostnames for which links would open inside the emb

[2015-03-30 11:23] lalomartins opened #47 "Crash reports"
In the last few days, I've been getting occasional “crash report” popups.

![screenshot](http://i.imgur.com/ktvTr53.png)

(In retrospect, I should have clicked “Show details”, sorry. Will do next time.)

However, ScudCloud is still running just fine. If I click “continue”, it will try to relaunch the app, which results in a dialogue telling me it's already running.

In my experience, these bogus c

[2015-03-30 11:49] raelgc commented on #47
Hi again, @lalomartins!

Yes, please, attach the details it and I can prevent this crash. I suspect is the same issue related to notify-osd restarting.

[2015-03-30 11:51] raelgc commented on #46
Hi @ExClouds, thanks for reporting this issue.

This is really weird. Your domain and cookies should be saved in your home directory as `~/.scudcloud`.

[2015-03-30 12:33] raelgc commented on #44
@krystiannowak That was my idea too: provide a dialog to enter some custom URLs that should be opened inside ScudCloud.

[2015-03-30 13:32] lalomartins commented on #47
thought it might be, almost posted this as a comment on #26 but then I figured let's do it by the book :smile_cat:

[2015-03-30 22:38] michaelherold commented on #37
@topher1kenobe I've created an Arch PKGBUILD and [put it on the AUR](https://aur.archlinux.org/packages/scudcloud/). If you have issues, please let me know [at my Github repository](https://github.com/michaelherold/PKGBUILDs).

@raelgc Would you be interested in a PR adding this package to the readme?

[2015-03-31 00:18] raelgc commented on #37
@michaelherold I'd love it! :)
Additionally, are you aware if there is a way I can create the Arch package under Ubuntu?

[2015-03-31 00:30] raelgc commented on #44
@krystiannowak After think a while, I realized that ScudCloud opens externally just the first clicked link.

So, let's try a simple fix first.

Edit, with `sudo`, `/opt/scudcloud/lib/wrapper.py` file.

Then go to the `linkClicked`, which actually is like this:

[code]

Make it like this (the `elif` line is different):

[code]

Save it and restart ScudCloud. Let me know how it that can work.

[2015-03-31 01:43] michaelherold commented on #37
Cool, I'll write up something and send you a PR soon.

Arch is very different from Ubuntu, in that any user-distributed packages are distributed as scripts (called PKGBUILDs) that are built from source. As such, there isn't a way to "create" the Arch package under Ubuntu since the package isn't distributed. If you would like to know more about the Arch Build System, you can read about it at the Ar

[2015-03-31 11:28] lalomartins commented on #47
I left the “send report” checkbox on but I have no idea if a report was sent and where :stuck_out_tongue_winking_eye:  But I think I captured the important info here:

![screenshot](http://i.imgur.com/v5MZsBr.png)

[2015-03-31 12:16] raelgc commented on #47
Cool @lalomartins!

And this is exactly the issue related to Notify-OSD restart. Locally I tried a simple call to `notify_init` again, but it didn't work.

Anyway, good you got the exactly stack. Now I can focus in the root problem!

[2015-03-31 12:24] lalomartins commented on #47
I thought nothing was broken, but now you mentioned I can confirm I'm getting no notifications, even though Slack didn't complain about permission

[2015-03-31 12:46] raelgc commented on #47
I tried to restart the notifications with the following code in `/opt/scudcloud/lib/scudcloud.py` but the error appears to be deep then that:

[code]

[2015-03-31 14:21] topher1kenobe commented on #37
Whoa, I didn't see any of the previous posts for me!  I'm really sorry folks.

I installed from AUR and it installed fine, but doesn't want to run:

[code]

I'll try some of the other stuff and get back to you.

[2015-03-31 14:23] topher1kenobe commented on #37
@raelgc I tried the instructions you mentioned, and I got the same result as my above post.

[2015-03-31 14:35] raelgc commented on #37
@topher1kenobe I think you need a `python3-dbus` package. Is [this one](https://www.archlinux.org/packages/extra/i686/python-dbus/files/)?

[2015-03-31 15:08] michaelherold commented on #37
Yep, looks like there's a missing dependency. @topher1kenobe I've updated the PKGBUILDs, let me know if they help.

[2015-03-31 15:40] cdysthe opened #49 "Feature request: Remember last window size if not maximized."
I t would be great with a feature having ScudCloud remember the last window size if not maximized.

[2015-03-31 17:35] raelgc commented on #49
Reminder to myself: http://stackoverflow.com/questions/11352157/pyqt-window-i-want-to-remember-the-location-it-was-closed-at

[2015-03-31 19:03] roberthawdon commented on #46
It's even worse when using Two Factor Authentication. Without it, I needed to select the my company to sign in. With 2FA, I need to type my company name, then sign in, then get the 2FA code. On the official slack client (for Mac), it remembers I'm already authenticated.

[2015-03-31 19:45] raelgc commented on #46
@roberthawdon But this is the expected behaviour (keep authenticated). Can you check if your domain is saved in `~/scudcloud`? Anyway, this will be saved in window close event, so, if for some reason, the app is killed, this will be not saved.

[2015-03-31 20:48] roberthawdon commented on #46
Scudcloud always crashes when I close the window. I don't see my domain in `.scudcloud` Though there is an entry in the `Cookies` section.

[2015-03-31 20:49] raelgc commented on #46
@roberthawdon Right. Can you paste the stack details when the app crashes?

[2015-03-31 20:54] roberthawdon commented on #46
Actually, ignore me, automatic updates hadn't run for a few days. A new build (with a clean `.scudcloud` file) has resolved the issue.

[2015-03-31 20:55] raelgc commented on #46
Good to hear that @roberthawdon! Let me know if you find new issues!

[2015-03-31 23:11] hqtan commented on #44
Hi @raelgc!
Thanks for the code snippet! I can confirm that the change to the elif line worked. That change allowed Scudcloud to work with SSO logins.

Thanks again!

[2015-03-31 23:15] raelgc commented on #44
Hi @hqtan, thanks for testing this and thank you for the update!

And thank you again to @krystiannowak to provide the URLs.

I'll publish a new version with this fix, probably tomorrow :)

[2015-04-01 11:45] srw2d opened #50 "never stays logged in"
Thanks for the great work on this!

One issue I have, it never saves my login details. Is this a known issue or a bug? I am using this in elementary OS 0.3 Freya (64-bit)

Thanks!

[2015-04-01 11:53] raelgc commented on #50
Hi @srw2d, thank you for the compliments and thank you for creating this issue.

ScudCloud will save your info only when properly closed. If some crash happens, then it'll be not saved.

Usually this is fixed after a system update, like described in #46

[2015-04-01 12:11] srw2d commented on #50
Thanks! fast reply as well...That worked, to fix it all I needed to do was to login, logout. Then I tried logging out of my desktop session, logged back in and started it up and it all worked. Thanks!

[2015-04-01 12:15] raelgc commented on #50
Good to hear it worked :)

[2015-04-01 12:15] #50 closed

[2015-04-01 14:27] Exoth commented on #45
I'll try it out, thanks.

[2015-04-04 16:57] cdysthe opened #51 "Scudcloud becomes invisible and unresponsive after resume."
Hi,

I use ScudCloud on a few laptops (Thinkpads). When I suspend the laptop and then resume ScudCloud is invisible and can not be revived with the system tray icon. I have to close the application from the system try icon and restart it.

[2015-04-04 21:01] raelgc commented on #51
Hi @cdysthe, thank you for reporting this issue.

Can you, please, give me the following info:

1 - Which distro and version are you using?

2 - It has all updates? (I have seen crashes in vanilla Ubuntus fixed after system updates);

3 - If you have an updated system, can you, please, open ScudCloud from terminal, then suspend/resume and paste here the errors displayed in terminal? If you can pas

[2015-04-06 07:16] umpirsky opened #52 "Segmentation fault (core dumped)"
I have installed it like described in [README](https://github.com/raelgc/scudcloud#install) on Ubuntu 14.04.2 LTS.

When I run it I get:

[code]

![ubuntu_001](https://cloud.githubusercontent.com/assets/208957/7001631/840c8bc0-dc3d-11e4-833c-a0ee890d3e21.png)

[2015-04-06 11:33] raelgc commented on #52
Hi @umpirsky, thank you for reporting this issue.

Can you, please, perform a system update? Usually this is fixed after it.

[2015-04-06 11:34] padraic7a opened #53 "Errors in README.md"
In manual install instructions you're missing a couple of  /'s before usr

sudo cp $SOURCE/scudcloud.desktop usr/share/applications
sudo cp $SOURCE/systray/hicolor/* usr/share/icons/hicolor/scalable/apps

pull request submitted

[2015-04-06 12:25] umpirsky commented on #52
Thanks for fast answer @raelgc!

My system is up to date.

[2015-04-06 12:29] raelgc commented on #52
Right. Thanks for double check that.

Can you, please, paste here the stack trace of the segfault?

[2015-04-06 12:35] umpirsky commented on #52
@raelgc I submitted crash report. I would like to post trace, just tell me how.

All I can see in syslog is `Apr  6 14:35:16 zenbook kernel: [ 1153.213719] python3[11172]: segfault at 7f855a3ec140 ip 00007f855a3ec140 sp 00007fffcf20ef68 error 15`.

[2015-04-06 12:41] raelgc commented on #52
I'm not sure if under CoreDump or Disassembly (I cannot remember). The submitted crash report is not sent to me (I think aport sends to Canonical).

The easiest way is open ScudCloud from terminal, then copy and paste the outputs.

[2015-04-06 13:00] umpirsky commented on #52
@raelgc But nothing is dumped in terminal:

[code]

[2015-04-06 13:18] raelgc commented on #52
Interesting, it's a crash in the python3 interpreter. Is `zenbook kernel` a different kernel then vanilla Ubuntu one?

[2015-04-06 13:28] umpirsky commented on #52
@raelgc No, I use regular Ubuntu kernel.

[2015-04-06 13:34] raelgc commented on #52
Thanks for the quick reply, @umpirsky.

I can think in 2 possible causes here:

1 - A missing dependency in ScudCloud (probably a package that most people installed ScudCloud until now already has installed).

2 - A specific situation for your team that ScudCloud code is broken, but instead of return the typical python3 stack trace, is just crashing the interpreter. In this case, probably I'll nee

[2015-04-06 13:57] umpirsky commented on #52
@raelgc Can I debug somehow? To get more trace?

[2015-04-06 14:40] raelgc commented on #52
Yes, but it's a bit hard. This guy described how to perform it: http://jodal.no/post/5779178001/log-from-the-debugging-of-a-segfault/

[2015-04-06 14:47] umpirsky commented on #52
@raelgc Thanks.

[2015-04-06 15:55] topher1kenobe commented on #37
@michaelherold I get the same error just installing scudcloud.

Then I installed python-dbus and still got the same error.  :(

[2015-04-06 16:36] michaelherold commented on #37
Following up in michaelherold/PKGBUILDs#1

[2015-04-07 15:00] kspears opened #55 "Spell check not working?"
Maybe I'm the only one having issues with getting spell check working. I've got scudcloud and the hunspell-en-us packages installed and scudcloud seems to be working fine. Just can't get it to correct my spelling. When i right click on a red underlined word, there are no options presented to me. Wondering if I just missed something?

[2015-04-07 15:30] feoh opened #56 "Typing is very slow on Ubuntu 14.04.2 / KDE 4.13.3"
The client works (well in fact) but typing input to send a message is incredibly slow - easily 3 seconds behind the actual keystrokes.

It's still usable but just barely.

Happy to provide any additional debugging info I can.

(I installed from the repo using the apt-get instructions on Github)

[2015-04-07 16:05] raelgc commented on #55
Hi @kspears, thank you for reporting this issue.

Unfortunately, this is how the spell checker plugin from QupZilla works: it'll mark words in red, but not suggest correct ones on right click.

What got me wondering that I should add this info in the README.

[2015-04-07 16:51] jake-minted commented on #56
I'm facing the same issue on ArchLinux. There is some reasoning to believe that it is related to spell checking

[2015-04-07 16:52] grubernaut commented on #56
I'm seeing the same issues on ArchLinux. There is some reasoning to suggest it's from spell checking.

[2015-04-07 16:57] raelgc commented on #56
I think you guys can try remove the spell checker package (`libqtwebkit-qupzillaplugins`), if exists in Arch, it's just recommended, not required. Other possible candidate to make program slow can be `gi` stuff, but I'll need to check which lines of code to disable.

[2015-04-07 16:59] raelgc commented on #56
Other stuff easy to check: using `sudo` or `root`, edit `/opt/scudcloud/lib/wrapper.py` and comment this line:

`# QWebSettings.globalSettings().setAttribute(QWebSettings.PluginsEnabled, True)`

It'll start Flash, maybe Java, and I think they're not required at all.

[2015-04-07 17:14] feoh commented on #56
@raelgc Thanks for the suggestions.  I tried commenting that line out but with no luck.  I also tried disabling "Spell check input" in the preferences, still no dice.

I tried removing the hunspell-en-us package using apt-get, still no change.

Happy to try anything else you'd care to suggest!

[2015-04-07 17:39] raelgc commented on #56
@feoh Please, try my last suggestion (disable the webkit browser plugins).

[2015-04-07 17:51] feoh commented on #56
@raelgc Thanks but as I mentioned previously commenting out that line had zero net effect.  Is there something I need to do after editing that file other than quitting and restarting the app?

[2015-04-07 17:58] efuquen opened #57 "HiDPI Support"
I'm running Ubuntu 14.10 on a Macbook pro with a retina display.  When using scudcloud the embedded QtWebkit browser runs at the native resolution without any scaling.  I can imagine the app either having a scaling option in preferences or picking up the scale ratio set up via the Display settings on the OS.

This bug report here seems to be relevant:

https://bugs.webkit.org/show_bug.cgi?id=10457

[2015-04-07 17:58] raelgc commented on #56
@feoh Oh, sorry, I missed that. Any luck removing the `libqtwebkit-qupzillaplugins` package?

[2015-04-07 18:04] efuquen commented on #57
This blog post seems to describe step by step what would be necessary:

http://blog.davidedmundson.co.uk/blog/kde_apps_high_dpi

This project looks to be based on Qt4, so upgrading to Qt5 would seem to be the biggest blocker.

[2015-04-07 18:05] raelgc commented on #57
Hi @efuquen, thanks for reporting this issue.

I'll check the links you provided.

In this meanwhile, you can try zoom in pressing `Ctrl`+`=` and zoom out with `Ctrl`+`-`

The zoom level will be preserved between sessions.

[2015-04-07 18:05] feoh commented on #56
@raelgc No worries at all, but sadly, no joy, again I apt-get removed that package and restarted scudcloud, and still slower than molasses going uphill in February :)

Do I perhaps need to reboot or something?

[2015-04-07 18:07] efuquen commented on #57
@raelgc ah that works just fine, definitely should have thought to try that.  Thanks!

[2015-04-07 18:09] raelgc commented on #56
@feoh No, just close and re-open the app will be enough.

As you mentioned slowness while typing, maybe one worth test is to disable the eventfilter that watchs for `Ctrl`+`#` to switch between teams.

Please, open as `sudo` or `root` this file: `/opt/scudcloud/lib/scudcloud.py` and disable this line (probably line 58):

`# self.installEventFilter(self)`

Then close and restart ScudCloud.

[2015-04-07 18:14] feoh commented on #56
@raelgc Thanks a bunch tried that and yet still no joy :) Still incredibly slow. @grubernaut I'd be curious to hear if you've tried any of these workarounds and whether you had any success either.

[2015-04-07 18:31] #57 closed

[2015-04-07 18:51] feoh commented on #56
Turns out things are much better for @grubernaut - but he's not running KDE.  I wonder if my issue is KDE specific? I should try logging in with Unity and see if it goes away.

[2015-04-07 20:47] mcg commented on #55
Readme might be a good idea. I just came here to file that bug :-) Also booo for no suggestion support.

[2015-04-07 20:49] mcg opened #58 "Drag and drop support"
Would love if you could drag/drop files as you can in the regular browser interface.

[2015-04-07 20:49] raelgc commented on #55
@mcg Indeed, that will be awesome. I'm just searching the web to see if someone was able to get suggestions working with QupZilla spell corrector library.

[2015-04-07 20:50] raelgc commented on #58
Hi @mcg and thanks for reporting this issue.

Actually drag and drop works fine (under Unity on 14.04, not sure under other DEs).

Which one are you using?

[2015-04-07 21:12] mcg commented on #58
Using Unity and strangely it works now. When I tried previously, instead of the Slack dialog I expected to see for the dropped image, the image replace Slack completely.  Will try to get it to fail again.

[2015-04-07 21:15] raelgc commented on #58
@mcg Drop the file in the text input. I didn't test drop the file in any window area, but probably it'll behave like you said.

Sometimes, then the CPU got hanging during ScudCloud startup, ScudCloud JavaScript will not perform in time, so probably drop any file will perform like you said too.

[2015-04-07 21:16] mcg commented on #58
I use Shutter for screen captures. If I do a capture, save and immediately try to drop the image into Scud, it renders the image instead of the drop. The URL is "file:///.... path to image". If I instead, close the capture screen in Shutter, reopen, then drop. It works.

[2015-04-07 21:30] raelgc commented on #55
Found a way in the QupZilla project: https://github.com/QupZilla/qupzilla/blob/v1.8/src/lib/webkit/webview.cpp#L870

[2015-04-08 08:25] neokore opened #59 "ScudCloud takes 100% CPU when doing nothing"
After a pair of days using ScudCloud in my laptop I realized that it uses 100% of one of the CPU cores from the application start without doing nothing.
I'm logged into one team and I deleted the config file to restart from zero and tried again updating to v1.0.26, but I get the same behavior.
Besides this bug, everything seems to work OK.

Here comes the log:
[code]
Cheers!

[2015-04-08 09:00] DmitriyBaklikov commented on #36
@raelgc

[code]

and

[code]

[2015-04-08 10:42] raelgc commented on #59
Hi @neokore, thanks for reporting this issue!

Can you, please, as `sudo`, edit `/opt/scudcloud/lib/wrapper.py` file and comment the above line (line 19)?

`QWebSettings.globalSettings().setAttribute(QWebSettings.PluginsEnabled, True)`

Then close and start ScudCloud again.

[2015-04-08 10:46] raelgc commented on #36
@ch1m1d This persists after a system update?

In the console, there is the info about the lines where the first error happened? (Usually in the right side of the line where the error is displayed)

[2015-04-08 15:35] neokore commented on #59
This works, by now it uses no CPU, and features like native notifications works, but in-window Youtube videos player (not a problem for me by now).
I'll test if hangouts integration works, but it seems to be ok.

Thank you!

[2015-04-08 15:56] raelgc commented on #59
Maybe I should disable browser plugins by default and enable them only if a command line options is passed.

[2015-04-08 16:23] immerrr opened #60 "https://FOO.slack.com/messages/$CHANNEL urls open in external browser"
`https://FOO.slack.com/archives/CHANNEL` are opened in scudcloud, but
`https://FOO.slack.com/messages/CHANNEL` for some reason are opened with xdg-open.

[2015-04-08 16:30] raelgc commented on #60
Thanks Denis!

Probably due [this](https://github.com/raelgc/scudcloud/blob/master/scudcloud-1.0/lib/wrapper.py#L59).

It'll need to include the above URL.

I have absolutely no time during this week to fix this. Probably only in the next week. If you can create a PR, that would be great :)

[2015-04-09 11:46] Exoth opened #61 "Group notifications"
If I enable desktop notifications for some group, I get both balloons and taskbar application triangle highlight.
But I need only triangle highlights without balloons. Is there a way to do this?

[2015-04-09 12:09] raelgc commented on #61
Hi @Exoth, how are you?

Unfortunately ScudCloud just follows Slack notification scheme: balloons for Slack desktop notifications (in this case, you enable desktop notifications for the group), and taskbar highlight for any new message.

So, probably you need to, inside Slack, edit the group notification to no throw a desktop notification for any new message.

[2015-04-09 13:05] Exoth commented on #61
The problem is that if desktop notifications are disabled for new messages, I don't get taskbar highlight as well.

[2015-04-09 13:10] raelgc commented on #61
@Exoth You'll get the taskbar wobbling and with a border, just not the message counter (which exists only for direct messages).

[2015-04-09 13:56] Exoth commented on #61
Nope, I'm getting absolutely no indication on a new message from a group without desktop notifications enabled. May be some OS version specific bug? I'm using Ubuntu 14.04 at the moment.

[2015-04-09 14:14] raelgc commented on #61
I'm using Ubuntu 14.04 with Unity too. Maybe if you start ScudCloud from the command line, you can see any issues printed in the terminal.

[2015-04-09 14:14] topher1kenobe commented on #37
The package for Arch works now.  It requires a notification daemon to be set up in dbus.

[2015-04-09 14:14] #37 closed

[2015-04-09 14:16] raelgc commented on #37
I'm glad you got it working @topher1kenobe!

[2015-04-09 14:25] michaelherold commented on #37
@raelgc I'm putting together a patch that would make a notification daemon optional. Would you be interested in such a thing?

[2015-04-09 14:28] raelgc commented on #37
@michaelherold I'm always interested in making the program easy to run :)
What will be the effect when this daemon is not available?

[2015-04-09 14:34] Exoth commented on #61
Getting this:

[code]

[2015-04-09 14:38] raelgc commented on #61
Hm, this one can be the reason for lack of icon wobbling: `Gtk-Message: Failed to load module "unity-gtk-module"`.

[2015-04-09 14:40] raelgc commented on #61
Had you try to remove standard packages from 14.04?

[2015-04-09 14:49] michaelherold commented on #37
I'm planning to just have [notify](https://github.com/raelgc/scudcloud/blob/master/scudcloud-1.0/lib/scudcloud.py#L256) silently return unless it's configured.

[2015-04-09 15:26] raelgc commented on #37
Just out of curiosity: is hard to get the notifications configured by the package?

[2015-04-09 15:31] michaelherold commented on #37
Arch is a build-it-yourself OS, where nothing is installed by default. There are at least 7 notification daemons and 5 desktop environments that can provide the functionality. I'm not sure of a way to say "I depend on a service" in a PKGBUILD, though that's something I'm looking into.

Really though, we should rescue this exception since it's a bad user experience to give the cryptic error message

[2015-04-09 15:49] raelgc commented on #37
@michaelherold Got it, thanks for the explanation!

So, additionally, can you please add the info in your package instructions that if user wants notification he/she needs to install any notification daemon?

[2015-04-09 16:04] michaelherold commented on #37
I'll add it in the PR for optional notifications.

[2015-04-09 16:16] Exoth commented on #61
I haven't removed any standard packages as far as I remember.
I've just tried to install some i386 versions of gtk related packages, and I don't have unity-gtk-module error anymore, but I still don't get the taskbar notification.
In two weeks I'll install Ubuntu 15.04. I'll tell you if I have the problem there.

[2015-04-09 17:01] mcg commented on #58
I can't 100% reproduce this, feel free to close it.

[2015-04-09 17:08] mcg opened #62 "Keybinding support"
It would be great if it could respect the DE's currently configured keybinding setup or at least be configurable. I have Unity configured for Emacs bindings, but in Scudcloud, it's using something else.

[2015-04-09 17:25] zjs opened #63 "Feature request: integration with indicator-messages (Messaging Menu)"
It would be awesome if ScudCloud could be integrated with the [messaging menu](https://wiki.ubuntu.com/MessagingMenu/).

I realize channels are already listed in the application's unity dock context menu, but that means they're not listed with channels from other messaging applications.

Similarly, it's possible to manage available/away status directly within the app, but not as a part of managing

[2015-04-09 18:21] raelgc commented on #62
Hi @mcg. I'm using the QT keybindings. You can read more about it here: http://pyqt.sourceforge.net/Docs/PyQt4/qkeysequence.html

If you have any idea better about how to support it, you're welcome to contribute :)

[2015-04-09 18:23] raelgc commented on #58
@mcg In case you find reproducible steps, please, feel free to re-open it :)

[2015-04-10 14:58] OlivierBondu opened #64 "Feature request: option for default team at start"
I was part of a team that has been now deleted, however it keeps being my default team when starting scudcloud, is there a way around this ?

[2015-04-10 16:03] raelgc commented on #64
Hi @OlivierBondu, thanks for reporting this issue.

Please, edit your `~/.scudcloud` file and change the team inside it. Then restart ScudCloud.

[2015-04-10 16:03] #64 closed

[2015-04-11 21:17] someben opened #65 "Unformatted Notifications"
The notifications that popup when a new message is sent are not formatted correctly. For example code blocks with back ticks (```) are not monospaced.

[2015-04-12 12:25] raelgc commented on #65
Hi @someben and thanks for reporting this issue.

This is, unfortunately, a specification from desktop notifications (i.e., outside of ScudCloud scope).

[Canonical NotifyOSD](https://wiki.ubuntu.com/NotifyOSD#text) supports only plain text ("should not contain any extra formatting"), while [Gnome Desktop Notifications](https://developer.gnome.org/notification-spec/#markup) can handle simple HTML

[2015-04-12 12:25] #65 closed

[2015-04-13 12:59] draganshadow opened #66 "Restore windows when trying to run again"
When clicking Scudcloud shortcut again from desktop or dock like Cairodock an error appear "Scudcloud is already running".
It would be more useful to just open the existing window instead.

[2015-04-13 13:17] raelgc commented on #66
Hi @draganshadow and thanks for reporting this issue.

Yes, that should be a more friendly behaviour. I'll mark this as an improvement.

[2015-04-13 14:05] cdysthe commented on #51
On 04/04/2015 05:01 PM, Rael Gugelmin Cunha wrote:

Thank you! :)

##

//Christian

Dropbox. Your files from anywhere: http://db.tt/U8MqkVR

[2015-04-13 14:32] raelgc commented on #51
Thank you @cdysthe to provide all this useful info!

The use of 15.04 is really the new info here. I still didn't test it there.

Hope you can find an easy way to reproduce this issue. Anyway, as soon 15.04 get released, probably more people will report this issue too.

[2015-04-14 10:21] Slater91 opened #67 "Desktop notifications disabled + multi-team chat"
Hi there! Thanks for this awesome work.

I am encountering apparently random issues with ScudCloud. They seem to be correlated so I will write about them together. I use Slack to communicate with two different teams and I use ScudCloud to communicate with both under Linux. At random times the software seems to "forget" I logged in to two teams and only shows one, saying that desktop notifications

[2015-04-14 11:57] raelgc commented on #67
Hi @Slater91, thank you for reporting this issue!

I think all the issues are related to notify-osd stopping works and getting restarted often.

I tried to restart the `libnotify2` in this cases, but the issue appears to be more deep, thrown from python dbus libraries.

You can double check this starting ScudCloud by the command line, and then check it when the notifications stopped to work. Proba

[2015-04-14 12:42] Slater91 commented on #67
Hi @raelgc, thanks for your quick and kind reply.
Alas the problem is not fixed with a restart: the only way to solve it is to delete the ~/.scudcloud configuration file and start from scratch with configuration - it is fixed until the next time the bug is triggered.
I tried restarting ScudCloud from terminal a few times but nothing happened; I will keep you posted about any news I shall find.

[2015-04-14 14:35] raelgc commented on #67
@Slater91 oh, sad that even a restart cannot fix it :(

Hope you can find a consistent way to reproduce it.

To check if the notify-osd is the problem, kill the notify-osd process. Then check if ScudCloud start to behave weirdly.

[2015-04-15 21:08] JonathanHarford opened #68 "No sound (notifications, embedded YouTube)"
Mint 17.1 Cinnamon 64-bit
Scudcloud 1.0-26

When I have Mint's Sound > Applications window open and I preview the notification sound, "python3" gets added to the list briefly before disappearing.
![screenshot from 2015-04-15 17 05 14](https://cloud.githubusercontent.com/assets/3912650/7169254/c0ce0a4c-e391-11e4-88b0-02109aca3d78.jpg)

Sound in Firefox, Clementine, etc. is working without a problem

[2015-04-15 21:12] JonathanHarford commented on #68
Oh and I'm using libqtwebkit4 version 2.3.2-0ubuntu7.

[2015-04-15 22:07] raelgc commented on #68
Hi @JonathanHarford and thanks for reporting this issue.

This is really odd. Maybe some dependency is missing in the package (and then this dependency is automatically installed on default Ubuntu with Unity).

[2015-04-15 22:11] raelgc commented on #68
@JonathanHarford, just to double-check: is your system updated?

If yes, can you run ScudCloud from the command-line and check if errors are printed?

[2015-04-15 22:36] JonathanHarford commented on #68
I generally keep it updated but just was invited by Mint to update it now.
I did so, and I've also been messing with the sound settings.

And now it works.

It's possible that switching from Analog Output/Built-In Audio to Analog
Output/Logitech USB Headset fixed it, though now switching back to the
former I can't get the computer to make any sound. I am puzzled, but
pleased that it's now working.

[2015-04-15 23:00] raelgc commented on #68
I'm glad it worked now!

Just to share the pain: I have a Logitech USB Headset too. Interesting as all operating systems doesn't handle very well a USB Headset :(

[2015-04-15 23:07] #68 closed

[2015-04-15 23:07] #53 closed

[2015-04-15 23:08] #15 closed

[2015-04-15 23:08] #46 closed

[2015-04-16 09:28] zerthimon commented on #66
+1

[2015-04-16 09:36] zerthimon opened #69 "Ubuntu: Pop up the application window when using "Show" from scudcloud's tray icon."
The current behaviour is to activate scudcloud's icon in unity launcher.

[2015-04-17 07:30] Slater91 commented on #67
Hi @raelgc,
I have not found a way to reproduce it, but after a few days without a problem I got this message a few minutes ago starting ScudCloud from the terminal: `"sni-qt/3400" WARN  09:25:15.562 void StatusNotifierItemFactory::connectToSnw() Invalid interface to SNW_SERVICE`
Is this a problem related to `libnotify2` in the end?

Edit: by the way, I tried to restart it from the terminal and it

[2015-04-17 11:06] raelgc commented on #69
Hi @zerthimon and thanks for reporting this issue.

But this is actually the current behaviour: you click in Show, and the window application is opened and focused. At least in 14.04.

Which Ubuntu version are you running?

[2015-04-17 11:26] zerthimon commented on #69
Hi @raelgc !
I'm running Trusty 14.04

When scudcloud is running normally (app window behind other windows) and I choose "show" in tray icon - the window doesn't pop up on top, but instead the unity launcher icon shivers. When scudcloud is closed (to tray) - the icon in the unity launcher looks inactive; Then, when I choose "show" in tray icon - the unity launcher icon activates (like the program

[2015-04-17 12:21] raelgc commented on #69
@zerthimon thank you for the detailed description, I think I found the reason.

Appears that you have marked the ScudCloud to be "locked" (always present) in the Unity Launcher. I'll test this today later.

[2015-04-17 12:25] zerthimon commented on #69
@raelgc thanks a lot, that was the reason!
Unlocked from the launcher and it works well!

[2015-04-17 16:37] richey-v opened #70 "key shortcut for close"
I like the "Close to Tray" feature, but would like it better if ctrl-W was close, instead of quit, and maybe ctrl-Q was quit.

[2015-04-17 17:26] raelgc commented on #69
@zerthimon I'll investigate later how I can fix this problem when the app is locked to the launcher :)

[2015-04-18 19:08] cdysthe opened #71 "Keeping settings in ~/.config"
Hi,

This is a minor issue, but it would be good if Scudcloud could keep it's setting(s) in the ~/.config directory like most Linux applications do these days. ~/.config/scudclould would be the obvious candidate.

[2015-04-18 19:34] michaelherold commented on #71
:+1: I agree with this.

It should also be aware of conventions, like following the [XDG Base Directory Specifications](http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html).

[2015-04-19 10:23] #71 closed

[2015-04-20 10:21] immerrr commented on #60
Oh, I think I have messed up the report: `messages` go through `xdg-open`, archives work ok, but only because they work through `pushState/replaceState` and their urls don't pass through `linkClicked` handler.

[2015-04-20 11:19] raelgc commented on #60
Denis, here locally, `archives` is opened in external browser, and `messages` works fine.

Any way, not sure if we're talking about the same `messages`. How do you activate it? I mean, clicking where?

[2015-04-20 11:23] immerrr commented on #60
I mean a link that says `https://FOO.slack.com/messages/CHANNEL` (you may need to enter it manually in chat, I'm not sure where did I copy-n-paste it from).

[2015-04-21 05:00] xHN35RQ opened #74 "Open posts & files within Scudcloud"
It would be great to have the ability to edit posts within Scudcloud and not be forced into an external browser for the following URL locations:

`https://FOO.slack.com/files/`
`https://FOO.slack.com/files/USER/POST_ID/POST_NAME/edit`

Is this possible?

(BTW, super fantastic app!! :+1: :heart: )

[2015-04-21 10:01] raelgc commented on #74
Hi @xHN35RQ, thanks for reporting this issue!

Just to try to reproduce: in which link should I click to get this `/files/` and `edit` URL?

[2015-04-21 10:10] #58 closed

[2015-04-21 10:30] ghost commented on #74
If I click the Up Arrow at left of chat box and then click "Create Post" I immediately get sent to external browser. The URL is:

`https://FOO.slack.com/files/create/post`

Once a post is created, it's inserted into the chat stream, along with a link to edit the existing post. That link is the `edit` url:

`https://foo.slack.com/files/USER/POST_ID/POST_NAME/edit`

This also applied to any PDF file

[2015-04-21 11:48] raelgc commented on #74
@immerrr Can you, please, address this in the same way you fixed #60?

[2015-04-21 18:08] xdmx opened #77 "The icon in the tray bar is not shown correctly under KDE"
I'm using Arch with the last version of KDE and Scudcloud, the icon in the tray bar is not violet but gray/almost invisible. It changes the color to blue when there are new messages (without showing the unread messages)

![tray](https://cloud.githubusercontent.com/assets/115298/7259173/d0d34f4a-e861-11e4-8727-81321c6e912d.png)

Also, when I click on it it's not shown in front but under other windo

[2015-04-23 12:56] raelgc commented on #77
Hi @xdmx, thanks for reporting this issue.

Interesting. Is that KDE5? I need to test and investigate. Weird is that ScudCloud works fine in other Qt environments.

[2015-04-23 20:29] dblodgett opened #79 "Sign in to --------.slack.com"
I am unable to change the sign in to address. I had made an error when typing in my team name and now can not change this. IS this by default?
Dave

[2015-04-23 20:33] kreynen commented on #79
in your user directory, there is a .scudcloud file with Domain =

[2015-04-23 20:41] dblodgett commented on #79
Thanks

[2015-04-23 20:41] #79 closed

[2015-04-24 06:08] xdmx commented on #77
Hi @raelgc, yes, it's KDE5.

I've temporally fixed the icon downloading the zip from github and moving the mono-light icons into /usr/share/icons/hicolor/scalable/apps/, although it'll surely break again at the next update, maybe it's some kind of condition that must be added in the pkgbuild file itself. A way to change the icon directly from Scudcloud would be nice though

[2015-04-24 11:56] Gibol opened #81 "Multiple teams: only first team "logs in""
When starting ScudCloud only first team is loading. You have to click on the other teams button on the left panel to load them, otherwise you cant recieve their the messages. In my opinion, every team should load at startup.

[2015-04-25 09:24] xdmx opened #82 "Cache images"
I've noticed that when images are posted in a channel and you switch between them they are downloaded again every time.

Would it be possible to add a caching system in order to avoid to download the same images every time?

[2015-04-25 12:02] raelgc commented on #77
@xdmx Are you using Arch?

[2015-04-25 12:09] raelgc commented on #82
Reminder to myself or someone with coding skills reading this: check if http://stackoverflow.com/a/24504840/1604312 will works.

[2015-04-25 13:11] Slater91 commented on #81
On top of that, I found out that only the second team (the one which does not automatically log in) gets the icon displayed, while the first one doesn't.

[2015-04-25 13:23] raelgc commented on #81
@jshawl Can you take a look the icon not being displayed for first team?

[2015-04-25 14:48] xdmx commented on #77
Yes

[2015-04-25 16:34] jshawl commented on #81
This appears to be an issue with Slack: https://github.com/raelgc/scudcloud/blob/810e97983bafea1e16f62b3caafb1722dc4927c3/scudcloud-1.0/resources/scudcloud.js#L35

You can reproduce this by opening a console while logged into *.slack.com and typing

[code]

The first object is always missing the image.

[2015-04-25 18:58] michaelherold commented on #77
I'm updating the PKGBUILD to the new tagged version later today. I'll make sure those icons are copied.

[2015-04-25 20:26] michaelherold commented on #77
@xdmx I have updated the PKGBUILDs on the AUR so you should be able to use them in the future and have all the icon themes copied over.

[2015-04-26 10:07] xdmx commented on #77
Thank you @michaelherold, I see that icons are now copied in their folders. Now I'm trying to figure out how I can change them to use mono-light instead of hicolor under kde... is it maybe a setting in the cfg file?

[2015-04-26 15:25] michaelherold opened #85 "Proposal: Restructure code so it's more Pythonic"
Currently, ScudCloud expects to be found in `/opt/scudcloud`, which makes testing changes difficult (i.e. you have to build and install your package with the changes before you can test). I'd like to propose that we restructure into a more standard Python format using setuptools so that we can start writing tests and make development a little easier.

I know this is a big change, so I wanted to pr

[2015-04-27 11:37] cdysthe opened #86 "Icon error message in syslog."
Hi,

I'm gettign a long entry in my syslog with this content:

fication-/opt/scudcloud/resources/scudcloud.png' not present in theme'loading icon 'notification-/opt/scudcloud/resources/scudcloud.png' caused error: 'Icon 'notification-/opt/scudcloud/resources/scudcloud.png' not present in theme'loading icon 'notification-/opt/scudcloud/resources/scudcloud.png' caused error: 'Icon 'notification-/opt

[2015-04-27 14:07] michaelherold commented on #86
What OS are you? Ubuntu? Arch? etc.

[2015-04-27 14:10] cdysthe commented on #86
Hi,

I'm on Ubuntu 15.04 x64

On 04/27/2015 10:07 AM, Michael Herold wrote:

##

//Christian

Dropbox. Your files from anywhere: http://db.tt/U8MqkVR

[2015-04-28 16:59] xdmx opened #87 "The user isn't kept online"
I've noticed a weird bug, this the steps to reproduce:
- open scudcloud
- close/minimize it to the tray
- wait some time (1-2 hours, I haven't found out the exact amount of time, it may be less)
- check with *another* user the connected users

At this point you'll see that the user connected from scudcloud is offline.

- click on the icon in the tray to open scudcloud

Now the user is back online.

[2015-04-29 11:27] jclebreton opened #88 "Trouble with authentication inside the app"
Hello,

I have some trouble with authentication (Okta) inside the app.

- When i click on "Sign in with Okta" inside the app, a new page is open in my browser (Firefox),
- I fill the fields correctly (Login / Password) and the authentication is done correctly
- But i'm authenticate only inside my browser, not in the app.

I have this problem since i have update my ubuntu with apt-get this morning.

[2015-04-29 13:07] JonathanHarford commented on #70
Yeah, I keep accidentally exiting.

[2015-04-30 17:36] raelgc commented on #85
I totally agree with this @michaelherold!

And it's my fault. I just started the project without know Python and QT. Totally amateur. I just learned the basics.

[2015-04-30 17:38] raelgc commented on #86
This is related to the `png` file used in the notification. I still didn't try 15.04. Anyway, ScudCloud is using the full path to the image, so this should not raise an issue.

Can you check if the image is present in expected location? Please run:

[code]

[2015-04-30 17:40] raelgc commented on #87
Hi @xdmx and thanks for reporting this issue!

Can you check if we can see the same behaviour in Slack running inside the browser?

[2015-04-30 17:42] raelgc commented on #88
Hi @jclebreton and thank you for reporting this issue.

Can you tell me which is the URL that is opened in the browser when you click to Sign in with Okta?

To explain: ScudCloud try to delegate external URLs to default programs. So, for some cases, it's required to add some white listed URLs to the code. If you can tell me the URL format, we can add an exception.

[2015-04-30 17:50] jclebreton commented on #88
Hi,
Thank you for your reply.
ScudCloud open this URL in first : https://sch-chat.slack.com/sso/saml/start
In a second time, there is an automatic redirection to : https://schibsted.okta.com/login/login.htm
Thank you in advance.

[2015-04-30 17:56] raelgc commented on #70
In the next package build, this will be fixed :)

[2015-04-30 20:12] raelgc commented on #88
@jclebreton I just updated ScudCloud version (Trusty is built in PPA, others are building now). Please, run a `sudo apt-get update && sudo apt-get upgrade` and let me know if it works now.

[2015-04-30 20:13] raelgc commented on #70
@richey-v and @JonathanHarford, I just updated ScudCloud version. Please, run a `sudo apt-get update && sudo apt-get upgrade` and let me know if it works now.

[2015-05-01 02:00] michaelherold opened #91 "Release and tag v1.0.28"
It looks like you make a new Ubuntu version but didn't push a tag or release up to Github. The Arch package can't be updated until those are done.

Also, I just wanted to take the chance to say you're doing a great job keeping up with this!

[2015-05-01 11:56] raelgc commented on #91
Sorry @michaelherold, I just released v1.0.28.

Thank you and really need to say thanks to you, to contribute code and keep the Arch package!

[2015-05-01 11:56] #91 closed

[2015-05-01 17:11] xdmx commented on #87
Yes, it also happens using Slack from the browser (Firefox). I had it in another window, and it set me as offline, once I went back to it I was back online.

[2015-05-01 17:44] richey-v commented on #70
Sent you a pull-request for a change that worked better for me.

[2015-05-01 18:15] jclebreton commented on #88
Hey,
It seems to work, many thanks for your help.
I'll foward this to my colleagues.
have a nice weekend

[2015-05-01 22:26] raelgc opened #93 "Use native libnotify when present"
This will prevent notifications to stop when `notify-osd` restarts on Ubuntu, and probably, other distros too.

On Ubuntu, native `libnotify` is provided with `python3-gi`.

On Arch, appears to be provided by ` libnotify` and `python-gobject` (according [this page](https://wiki.archlinux.org/index.php/Desktop_notifications)).

As failsafe, current `notify2` will be present.

[2015-05-01 22:39] #93 closed

[2015-05-01 22:39] #88 closed

[2015-05-01 22:40] #77 closed

[2015-05-01 23:06] #59 closed

[2015-05-01 23:18] raelgc commented on #87
@xdmx So, if that happens in browser, probably is the default Slack behaviour. And I think we should follow the KISS principle and do not mess with Slack original behaviours.

[2015-05-02 11:59] raelgc commented on #21
@syphernl, you can inject custom CSS tweaking `/opt/scudcloud/resources/login.css`.

And if you want to always keep your changes (i.e., avoid `apt` overriding your changes on system update), you can use `dpkg-divert`:

[code]

Now `apt` will always update `login.css.real`, while you can work on `login.css`.

[2015-05-02 11:59] #21 closed

[2015-05-02 12:01] raelgc commented on #56
Closing by inactivity. Please, re-open if required.

[2015-05-02 12:01] #56 closed

[2015-05-02 12:02] raelgc commented on #31
@white-gecko Still an issue?

[2015-05-02 12:02] raelgc commented on #47
Fixed in #93

[2015-05-02 12:02] #47 closed

[2015-05-02 12:03] raelgc commented on #52
Closing by inactivity. Please, re-open if required.

[2015-05-02 12:03] #52 closed

[2015-05-02 12:04] raelgc commented on #36
Closing by inactivity. Please, re-open if required.

[2015-05-02 12:04] #36 closed

[2015-05-02 12:04] raelgc commented on #45
Closing by inactivity. Please, re-open if required.

[2015-05-02 12:04] #45 closed

[2015-05-02 12:05] raelgc commented on #51
@cdysthe Still an issue in 15.04?

[2015-05-02 12:07] raelgc commented on #67
Fixed in #93. Please, update and let me know if it works now :)

[2015-05-02 12:07] #67 closed

[2015-05-02 12:22] raelgc commented on #70
@richey-v Right, so, based in your PR, I just changed a bit the code, to display `Close` only when `Close to Tray` is enabled.

[2015-05-02 12:31] cdysthe commented on #51
I just got a new laptop and on on that one it's not happening. On the old one it still is. I find it hard to understand how it can be a hardware p problem.

[2015-05-02 14:45] raelgc commented on #51
Indeed, a real mystery. Is 15.04 updated in the old one?

[2015-05-02 15:04] cdysthe commented on #51
Yes, they are on the exact same Ubuntu install fully updated. One is a Thinkpad T430s, the new one in a Thinkpad X1 Carbon. I'll do some more research on it. It could maybe be TLP which isn't fully implemented in the new X1 Carbon

[2015-05-03 06:48] white-gecko commented on #31
Yes the issue still exists. I'm currently using "mute all sounds" as workaround.

[2015-05-03 08:50] lalomartins commented on #47
fix tested and confirmed.

[2015-05-03 09:03] xdmx commented on #87
This is the reply I got from Amy at Slack:

It'd be nice having the same OSX behaviour (computer activity) on Scudcloud as well

[2015-05-03 11:52] raelgc commented on #31
@white-gecko Can you, as `root`, edit `/opt/scudcloud/lib/wrapper.py` and disable the following line line below? (Usually at line `26`):

[code]

Just to check if it's a plugin messing if your sound.

[2015-05-03 11:56] raelgc commented on #87
@xdmx Cool man, I really like you asked the Slack team about it! :)

Ok, now I'll need to dig in the Slack JavaScript code, probably there is a trigger to disable the auto away/disconnect.

Stay tuned!

[2015-05-03 11:57] white-gecko commented on #31
Still the same behavior, but I guess I'm not on the current develop branch, since the line you are giving is not at line 26 but at line 17.

[2015-05-03 12:05] white-gecko commented on #31
I've tried it on the current master branch and still the same issue with and without plugins.

[2015-05-04 06:19] alashkin opened #96 "Edit message doesn't work"
Hello,

It seems, with last update "edit message" stops working.
When I press appropriate button (cogwheel) menu doesn't appear.

Ubuntu 15.04/Unity

[2015-05-04 13:24] raelgc commented on #96
@alashkin Thank you for reporting this issue!
Indeed, this stopped to work. Let me investigate!

[2015-05-04 15:35] richey-v commented on #70
Thanks!  I like your solution best.

On 05/02/2015 08:22 AM, Rael Gugelmin Cunha wrote:

[2015-05-04 16:35] #70 closed

[2015-05-04 16:56] raelgc commented on #96
As workaround, `arrow+up` is still editing the last message.

[2015-05-05 05:14] alashkin commented on #96
Thanks! I didn't know about this shortcut.
(Sometimes I forget English and "edit" is quite important for me).
And, thanx for great project.

[2015-05-05 09:30] lalomartins commented on #59
@raelgc, I'm still getting tons of CPU usage, with the latest version :crying_cat_face: my laptop has been overheating the last few weeks, it started to bother me so I went checking and htop tells me it's ScudCloud's fault. I quit it and indeed it's not so hot anymore. (Although now with Slack running on Firefox, it's FF eating CPU, albeit less than ScudCloud. Maybe it's at least partially Slack's

[2015-05-05 09:32] lalomartins commented on #59
oh and I don't think it's Flash, as I have that blocked by default on FF

[2015-05-05 11:47] raelgc commented on #96
@alashkin Same for me (I use Edit a lot of times). Really weird Edit stopped to work. I'm still investigating, anyway.

[2015-05-05 11:49] raelgc commented on #59
@lalomartins I noted some CPU usage in Slack too (browser or inside ScudCloud) when I browser in history, search in archives, etc.

[2015-05-05 15:23] michaelherold commented on #59
I actually see less CPU usage in scudcloud than I do in Chromium. It's about 1.5% constant in scudcloud and 2.5% in Chromium.

@lalomartins Since you're having an issue with overheating, you could look into using Slack's IRC gateway with something like weechat as an alternative. It doesn't have the amount of integration, but it would save your overheating issue.

[2015-05-06 15:07] simonwjackson opened #97 "Icon stretched in system tray"
I am in on Gnome 3.16

![screenshot from 2015-05-06 17-01-14](https://cloud.githubusercontent.com/assets/189379/7496075/623c4976-f412-11e4-9f07-bf3b48e97e33.png)

[2015-05-06 15:56] marcottedan opened #98 "The /hangout doesn't send credentials correctly to the browser"
Hey!

If you type /hangout in the web application, it'll correctly create a Google Hangout and automatically logs you in on Slack. If you do the same thing within the app, the Google Hangout is created but the credentials seems to not be passed. You have to log on Slack manually (and in case you're linked your account through a SSO, credentials won't work).

So, this prevent people from easily usi

[2015-05-07 07:50] alankay82 opened #99 "Can't sign in to correct team"
I'm an idiot and I tried to sign in to a team that I was not a member of (due to similar team names). I don't have access to that team so log in fails, but I cannot see any link on screen to select a different team and only "Close to tray" and "Quit" file menu options are available. I've tried uninstalling/reinstalling scudcloud through software centre but this hasn't helped.

Any ideas if this is

[2015-05-07 08:54] ajkay commented on #99
I found a workaround but will leave this issue open for someone else to look at and see if it needs addressing.

I noticed I could right-click on the "Sign up on the home page" link and open the link within scudcloud. That then gave me the option to sign in to the correct team

[2015-05-07 11:37] raelgc commented on #99
Hi @alankay82 and thanks for reporting this issue.

ScudCloud configs are stored at `~/.config/scudcloud/scudcloud.cfg`.

You can delete this file or run `sudo apt-get purge scudcloud`.

[2015-05-07 11:37] #99 closed

[2015-05-07 11:42] raelgc commented on #98
Hi @marcottedan, thank you for reporting this issue!

In fact, ScudCloud will just open the URL created by Slack.

When you're logged in browser by SSO, you'll be automatically logged to your Google account. When you're logged in ScudCloud by SSO, same user will be not shared with browser.

Anyway, if you got already logged in the account used by SSO in the browser, in the first Hangout screen, th

[2015-05-07 11:42] #98 closed

[2015-05-07 11:55] raelgc commented on #97
Hi @simonwjackson and thank you for reporting this issue.

This is really odd. This icon is just a `22x22px` SVG file. Wondering if 3.16 systray icons should be not squared.

[2015-05-07 12:18] simonwjackson commented on #97
I checked again and aparently its not a scudcloud issue.
It's a gnome extention that moves icons back to the system tray and distorts them

[2015-05-07 12:18] #97 closed

[2015-05-07 16:57] alashkin commented on #96
It started to work :)
May be slack.com changed something?
Or I miss update?

[2015-05-07 17:00] raelgc commented on #96
@alashkin Thank you for sharing this!

No updates: It stopped to work and started to work again from the Slack side!

Cool!

[2015-05-07 17:00] #96 closed

[2015-05-08 16:57] Slater91 commented on #67
Hi @raelgc, I actually ran in the same "notifications not working" message a couple days ago (updated to latest version available then, 1.0-30 I guess) but found out I only needed to select another channel or private conversation to make the message disappear. It otherwise works perfectly.
Thank you so much for your work!

[2015-05-09 20:16] Slater91 commented on #67
Just a quick update: I confirm it still happens (version 1.0-31 installed), though it does affect functionality.

[2015-05-12 07:43] tomassommar opened #101 "Option to sign into other domain"
Upon starting ScudCloud for the first time, and mistakenly misspelling the slack domain you want to join into, there seem to be no option to sign into another domain. This renders ScudCloud unusable. It would be nice with an option to sign into other domain.

[2015-05-12 08:18] fjmartinez opened #102 "Working behind a proxy"
Would be possible the option to configure a proxy?
I'm using Ubuntu 14.04 with unity, maybe the qt libs not working fine with the environments configurations vars?
The screen holds in white waiting a connection or something.

[2015-05-12 11:00] alehandrof opened #103 "Zoom not preserved across sessions for multiple Slacks"
I have two Slacks open. The zoom setting is preserved for the 1st one, but it occasionally resets (not sure what triggers it) for the 2nd one.

[2015-05-12 11:04] raelgc commented on #101
Hi @tomassommar, thank you for reporting this issue.

You can change the default domain deleting or editing `~/.config/scudcloud/scudcloud.cfg`.

And if you want multiple domains, you can open menu `File` > `Sign in To Another Team`.

[2015-05-12 11:04] #101 closed

[2015-05-12 11:05] raelgc commented on #103
Hi @alehandrof, thanks for reporting this issue!

Are you on Ubuntu with Unity 14.04?

[2015-05-12 11:07] alehandrof commented on #103
Yes; sorry for not being more precise.

[2015-05-12 11:11] raelgc commented on #103
No problem, if not `precise` (12.04), at least you're `trusty` :P

[2015-05-12 11:18] alehandrof commented on #103
But probably not `wily` :)

[2015-05-12 12:33] raelgc commented on #103
Hope you're not pressing `Ctrl`+`0` while trying to switch between teams. This will reset the zoom :)

[2015-05-12 12:43] tomassommar commented on #101
Thanks!

On Tue, May 12, 2015 at 1:04 PM, Rael Gugelmin Cunha <
notifications@github.com> wrote:

[2015-05-12 14:43] alehandrof commented on #103
Nope. I had a look again. I can replicate the behavior by exiting the app and opening it again. At which point, the 2nd Slack has its zoom level reset. I use "Close to tray", but I here mean exiting the app fully.

[2015-05-12 15:56] michaelherold commented on #103
So it sounds like you'd like zoom level to persist between two sessions? i.e. that it should be persisted to the configuration?

[2015-05-12 16:03] raelgc commented on #103
@michaelherold It's persisted. But I think the second team is not receiving the default zoom level from config.

[2015-05-12 16:07] alehandrof commented on #103
Yes, @raelgc has an accurate description of what's happening now. Sorry for the shoddy original issue.

[2015-05-12 18:10] raelgc commented on #103
@alehandrof I just published the fix! Please, update and upgrade!

[2015-05-12 18:43] syskill opened #105 "Trying to run on Fedora, getting a useless empty window"
I'm trying to run scudcloud on my Fedora 20 laptop. I have the python3-PyQt4 and qtwebkit packages installed. When I run scudcloud, this thing appears:
![screenshot-scudcloud](https://cloud.githubusercontent.com/assets/93612/7595313/4b81ae78-f8b4-11e4-8b09-8deb255ff045.png)

Under the file menu I see items called "Preferences" and "Sign in to Another Team" that I suspect could be useful, but they

[2015-05-12 19:12] #103 closed

[2015-05-12 19:38] alehandrof commented on #103
Thanks @raelgc for the incredibly fast fix -- to say nothing of the puns :)

[2015-05-12 23:04] syskill commented on #105
Update: I installed the libunity package from [here](https://launchpad.net/libunity). That changed the output in the terminal but did not restore any of scudcloud's functionality:

[code]

[2015-05-13 14:08] raelgc commented on #61
@Exoth Please, re-open if still an issue.

[2015-05-13 14:08] #61 closed

[2015-05-13 14:14] raelgc commented on #105
@syskill Which qtwebkit version? Additionally, maybe you can try install [python3-gobject](https://apps.fedoraproject.org/packages/python3-gobject).

[2015-05-13 15:32] syskill commented on #105
@raelgc Here are the installed packages:
python3-3.4.1-16.fc21.x86_64
python3-PyQt4-4.11.3-1.fc21.x86_64
python3-gobject-3.14.0-1.fc21.x86_64
qt-4.8.6-28.fc21.x86_64
qtwebkit-2.3.4-6.fc21.x86_64

I upgraded to Fedora 21 last night, partly in hope of resolving this issue and partly because it was long overdue anyway. No change in scudcloud's behavior.

[2015-05-13 18:42] ghost commented on #74
I'm closing this because I don't mind jumping out to the web browser to manage files and posts. Keeping Scudcloud a chat-only app is fine with me, and someone else can work on work on adding files/posts support if they want it badly enough.

[2015-05-13 18:42] #74 closed

[2015-05-14 00:33] nazar-pc opened #106 "No tray icon Ubuntu 15.04"
Ubuntu 15.04 x64, works fine, but no tray icon.
When choosing "Close to tray" and closing I can't use it until I kill it and restart.

[2015-05-14 00:42] raelgc commented on #106
Hi @nazar-pc, thanks for reporting this issue!

Can you, please, run scudcloud from the command line and post the output?

[2015-05-14 00:47] nazar-pc commented on #106
[code]

[2015-05-14 00:50] raelgc commented on #106
Until this point, everything ok. And when you close to tray (and the app freezes), anything different?

[2015-05-14 00:53] nazar-pc commented on #106
I'm not sure whether it freezes, likely it works fine, but I can't reach it because there is no tray icon.
When I'm opening new instance it reasonable says "The program is already running", but I'd prefer to open existing instance at this point instead.

[2015-05-14 02:22] danielsanfr commented on #66
+1

[2015-05-14 06:57] sudhirkhanger commented on #106
There is no system tray icon for KDE either. Plasma 5 uses KStatusNotifierItems for system tray.

[2015-05-14 07:27] donniezazen opened #107 "Please add Categories=Network; to scudcloud.desktop so that it doesn't show up in Lost and found category"
In KDE, Scudcloud shows up in lost and found category of app launcher instead of Internet. Easy fix is to define categories in scudcloud.desktop. You just need to add `Categories=Network;`.

Thanks.

[2015-05-14 11:00] raelgc commented on #106
I'll download 15.04 to investigate all issues related to it.

[2015-05-14 12:27] raelgc commented on #107
Please, update and upgrade :)

[2015-05-14 12:27] #107 closed

[2015-05-14 14:18] raelgc commented on #66
Sadly, this appears to be no that trivial as I initially thought.

Anyway, I'm trying some solutions.

[2015-05-14 14:33] raelgc commented on #106
According [this blog](blog.martin-graesslin.com/blog/2014/06/where-are-my-systray-icons/), qt4 should works with tray icons in Plasma 5, just requiring the `sni-qt` package installed.

Can you guys try install `sni-qt` package, if available?

[2015-05-14 14:42] raelgc commented on #106
If this works, I'll include `sni-qt` in the recommended packages to get installed by default when available in the Debian derived distro.

[2015-05-14 15:11] raelgc commented on #86
@cdysthe Any news on that?

[2015-05-14 15:31] cdysthe commented on #86
Sorry, been on the road! :) Yes, it's there in that location

[2015-05-14 15:34] nazar-pc commented on #106
I have `sni-qt:i386` already installed because it is used by Skype,
After installation `sni-qt` (which is amd64 version) icon appeared in tray and works as expected, so, yes, add it to dependencies, please.

[2015-05-14 16:16] coliver opened #110 "Spell check not marking misspelled words red"
Incorrectly spelled words not being marked red (I know it doesn't auto correct or suggest).

Linux Mint 17 Qiana x86_64 (Ubuntu 14.04 Compatible repository)
hunspell-en-us at version: 20070829-4ubuntu3

Other than running `sudo apt-get install hunspell-en-us` is there anything else I need to do to enable spell check?

Thanks

[2015-05-14 16:19] raelgc commented on #106
New package published with the fix. Please, update and upgrade.

[2015-05-14 16:19] #106 closed

[2015-05-14 16:20] raelgc commented on #110
Hi @coliver, thanks for reporting this issue.

Can you confirm if `libqtwebkit-qupzillaplugins - 1.0-1` package is installed?

[2015-05-14 16:26] coliver commented on #110
It was not.  Installing that and rebooting did the trick. Thanks.

[2015-05-14 16:26] #110 closed

[2015-05-14 19:18] nazar-pc commented on #106
Thanks!

[2015-05-15 17:52] syskill commented on #105
@raelgc Any other suggestions? I'd appreciate if you could tell me how I might get a useful error message -- anything other than a completely blank window would probably help us track down the problem.

[2015-05-15 17:56] raelgc commented on #105
@syskill you can try start with: `scudcloud --debug=True` - this will enable the web Console.

Then you can right click and select `Inspect element`. Then, go to `Console` and check if any error (in red) is displayed.

Anyway, I'll try download and install Fedora in a VM to help on that!

[2015-05-15 19:27] syskill commented on #105
@raelgc Aha, finally some useful information:
![screenshot-web inspector -](https://cloud.githubusercontent.com/assets/93612/7659956/f5b1f072-fb13-11e4-93ea-5840447836b4.png)

I realized that I didn't have the python3-pyOpenSSL package installed, so I installed that (version 0.13.1). However, that error message persists.

My guess is that a deprecated version of SSL is being used for some reason.

[2015-05-15 20:04] syskill commented on #105
Update: I tried adding this to the __init__ method of class ScudCloud:

[code]

Still getting the same error.

[2015-05-15 20:05] syskill commented on #105
Wait, how'd this get closed???

[2015-05-15 22:26] rburcham opened #111 "Gentoo: segmentation fault"
I have performed a manual install and I believe the dependencies are in place.  However:

$ /opt/scudcloud/scudcloud
No bp log location saved, using default.
[000:000] Cpu: 6.58.9, x8, 2701Mhz, 16023MB
[000:000] Computer model: Not available
[000:000] Browser XEmbed support present: 1
[000:000] Browser toolkit is not Gtk2 (0).
[000:002] Using Xt toolkit
No bp log location saved, using default.
[00

[2015-05-16 01:18] raelgc commented on #111
Hi @rburcham, thank you for reporting this issue!

After some investigation of similar issues, appears that the flash plugin can be the root cause of this.

Can you, please, edit `/opt/scudcloud/lib/wrapper.py` close to the line `27` and disable (inserting `#` at the beginning of the line) to make it like this?

[code]

Then restart ScudCloud.

[2015-05-18 09:48] roelvanduijnhoven opened #114 "Ubuntu: The program is already running."
Really love this client. Most painful downside is that I cannot easily open the client again.

Steps to reproduce:

1. Open ScudCloud app
2. Enable `close to gray`
3. Exit (keeps running in background)
4. Click Desktop shortcut (see screenshot)
5. Warning is shown (see screenshot).

![desktop-icon](https://cloud.githubusercontent.com/assets/91910/7678330/9d89fc0e-fd53-11e4-9ab7-5187a8fd4365.png)
!

[2015-05-18 11:21] Evpok opened #115 "Honor the http_proxy / https_proxy environment variables"
While behind a proxy, `http_proxy=http://proxy:proxyport scudcloud ` doesn't work. Scudcloud stays blank as if there was no internet access. Same goes with `https_proxy`.

[2015-05-18 11:58] raelgc commented on #114
Hi @roelvanduijnhoven, thanks for reporting this issue.

When `Close to Tray` is enabled, there is `Close` (which closes the window but keep ScudCloud running in tray) and `Quit` (which will really finish the program execution),

Can you make sure you clicked in `Quit`? So, if program is still running even after `Quit`, yes, this is a bug.

[2015-05-18 12:50] roelvanduijnhoven commented on #114
Oh sorry, I use `close` to close the application. _Not_ the `exit` menu item.

So I do want to keep the program running in the background (such that I can receive messages). However while the programming is running in the background I would like the desktop icon to reopen the app again. Instead I get the previously shown error.

[2015-05-18 13:31] rburcham commented on #111
Well that has moved the ball as it were... I now get the login page and supply my credentials, and it appears to authenticate.  But the page never advances beyond the "Loading..." view.

Thanks, I'll search the other tix to see if this has been encountered before.  If not I'll open another.

[2015-05-18 13:31] #111 closed

[2015-05-18 13:34] raelgc commented on #114
Right. So, for that improvement, we have #66.

[2015-05-18 13:34] #114 closed

[2015-05-18 13:40] raelgc commented on #111
@rburcham I remember this issue in Ubuntu 12.04, exactly in #20, when we saw that the `libqtwebkit4` provide in Ubuntu 12.04 was old (update it to more recent version solved the problem).

[2015-05-18 13:43] rburcham opened #116 "After authentication, page does not advance past the "Loading ..." view"
![Uploading scudcloud-post-login.png…]()

I tried to attach an image but it seems to not want to.  I successfully have supplied my team domain and my credentials, and it seems to have authenticated through, however the view remains stuck on the first page after the authentication, with the "Loading ..." and the random pleasant expression e.g. "Always get plenty of sleep, if you can."

[2015-05-18 14:12] rburcham commented on #116
libQtwebkit version is

/usr/lib64/qt4/libQtWebKit.so.4.9.4

It appears I could upgrade to 5.4, I'll investigate this path.

[2015-05-18 14:41] roelvanduijnhoven commented on #114
Sorry!

[2015-05-18 18:22] rburcham commented on #116
![scudcloud-post-login-debug](https://cloud.githubusercontent.com/assets/11066282/7687088/51291cd4-fd60-11e4-97ce-9b8f06c26620.png)

I've updated my qtwebkit, but I suspect the root cause might be different from ticket #20.  I have enabled debug with

scudcloud --debug=True

and examined the javascript console, and there appears to be a "failed to load resource:  SSL handshake failed" error when r

[2015-05-18 18:59] rburcham commented on #116
I take it back, it's exactly the same as #20.

TypeError: 'undefined' is not a function (evaluating 'this._onElClick.bind(this)')

I can see from #20 that immerrr was able to backport qtwebkit4 for Ubuntu, but it isn't clear which revision of what package he landed on.  If I knew that I could apply proper masks and get portage to build a good PyQT and qtwebkit combo.

[2015-05-18 19:22] raelgc commented on #116
@rburcham I think [this package](https://launchpad.net/ubuntu/trusty/+source/qtwebkit-source) was the source.

Additionally, I just checked the installed `libQtWebKit` here:

[code]

[2015-05-18 19:57] syskill commented on #105
Well, this is awkward... the problem turned out to be a stray certificate in my otherwise empty /etc/pki/tls/certs directory, which I had configured as trusted to work out a client's issue several months ago. While that cert was there, qtwebkit would fail to connect to any HTTPS URL. Now that it's gone everything works fine.

[2015-05-18 19:57] #105 closed

[2015-05-18 20:16] raelgc commented on #105
@syskill I'm very glad you got it working!
Keep an eye on #113 issue too :)

[2015-05-20 13:32] dgikiller opened #119 "Scudcloud hangs on bootup"
Hi,

I'm trying to get this program working on Sabayon/Gentoo and I created an ebuild following your README install procedure.
The program starts but freezes just after launch like this:
![Screen Freeze]
(http://i.imgur.com/u2RkQT1.png)

![Kill required]
(http://i.imgur.com/sxWG6C5.png)

Giving me only the following output even with --debug=True:
[code]
This cause the gnome shell 3.14 crash someti

[2015-05-20 13:43] raelgc commented on #119
Please, check #111

[2015-05-20 13:43] #119 closed

[2015-05-20 14:12] rburcham commented on #116
Okay the libQtWebKit.so.4.10.2 lib is not part of the stock QtWebKit packaging.  It appears to be packaged with the independent QtWebKit-2.3, which is available to Gentoo through the "qt" portage overlay.  I used layman to add the qt overlay:

# layman -a qt

And then built dev-qt/qtwebkit23.  When it merges it will have files that collide with the stock qtwebkit (obviously), so they must be bypas

[2015-05-20 14:12] #116 closed

[2015-05-20 14:17] raelgc commented on #116
@rburcham, I'm glad you solved this problem and documented the process here! For sure this will be helpful for others with the same problem!

[2015-05-20 14:56] dgikiller commented on #119
Yes that's exact the same issue, now the program hangs on login.
I have installed this libraries:

[code]

are those dependencies?
How could I fix that?

[2015-05-20 15:57] raelgc commented on #119
Now, probably just some linking. A most complete solution is on #116.

[2015-05-21 15:42] draganshadow commented on #66
Thanks for having a look !

[2015-05-21 16:09] michaeldye commented on #42
I'd like this adjustment too.

[2015-05-21 22:56] tompetersjr opened #120 "Notification Sounds not Playing"
I'm running ScudCloud on Ubuntu 15.04 just fine.  However the notification sound will not play.  Any suggestions on what might be going wrong?

[2015-05-22 07:20] alesbolka commented on #120
I'm having the same issue on Ubuntu 14.04, even when I manually trigger a sound in the setting window (where you can change the notification sound), nothing plays - nothing even shows in the ubuntu application sound settings window.
No errors if I run it from the terminal, just silence.

[2015-05-23 05:55] nazar-pc opened #121 "Second account is not kept signed in"
I have two accounts, but on each restart account that was added first works fine, but second asks me for email and password, even though I've selected "Remember me" last time.

[2015-05-23 05:56] nazar-pc opened #122 "Miminize on start"
I'd like to put ScrudCloud into autostart, but there is no option to start it minimized to tray.

[2015-05-23 05:57] nazar-pc opened #123 "Open/raise running instance instead of "The program is already running""
Message is useless actually, I'd prefer to just raise window even if it is minimized to tray.

[2015-05-23 17:40] raelgc commented on #123
Duplicate of #66

[2015-05-23 17:40] #123 closed

[2015-05-23 17:41] raelgc commented on #121
Duplicate of #81

[2015-05-23 17:41] #121 closed

[2015-05-24 22:02] NyanSten commented on #31
This is not caused by ScudCloud but by very stupid default settings of PulseAudio. Setting `flat-volumes = no` in `/etc/pulse/daemon.conf` and restarting PulseAudio should fix it.

[2015-05-25 10:41] white-gecko commented on #31
Thanks, that works and fixes the problem.

[2015-05-25 10:41] #31 closed

[2015-05-25 10:46] white-gecko commented on #31
trivia, this also fixes some issue with banshee :-)

[2015-05-25 11:44] raelgc commented on #31
@white-gecko I'm glad this worked. Thanks @StenSoft for post this solution!

[2015-05-25 20:04] NyanSten commented on #31
@white-gecko Yes, ScudCloud was not the only one affected, on my computer it affected also Skype and KNotify. That's why I started digging into PulseAudio on this.

[2015-05-25 20:07] NyanSten commented on #51
When you suspend the laptop and then resume it, is the monitor configuration the same? It may be ScudCloud is displayed on a disconnected monitor by accident.

[2015-05-26 13:23] der-tale opened #124 "Share Snippet Shortcut (Shift+Ctrl+V) not working"
The shortcut for sharing a snippet is not working in scudcloud.

When using the web ui from Chrome, you can quickly share a snippet with ctrl+shift+v (opens a new modal), when using scudcloud this is not working / nothing happens...

[2015-05-26 20:29] raelgc commented on #124
Hi @der-tale, thanks for reporting this issue. I'll take a look during my weekend.

Reminder to myself: maybe this is related to the multi team switcher shortcuts interception.

[2015-05-27 03:46] boltronics commented on #55
I've got the latest build on Debian GNU/Linux (Jessie), with hunspell-en-us=20070829-6 installed. I ran `dpkg-buildpackage -uc -tc -b`, installed the deb, and I still have no spell checking support. I don't even get anything underlined. Any suggestions?

[2015-05-27 07:05] WolfangAukang opened #125 "Cannot access preferences"
Hello,

From a Manjaro (Arch-based distro) with XFCE 4.12, I cannot access the Preferences. They can't be selected (the option text is greyed).

Using Xubuntu with the XFCE 4.10 I can access it without any problems.

[2015-05-28 09:26] angrycamel commented on #57
+1 for hidpi support
found that ctrl+= doesn't work, but also found that shift+ctrl+= DOES work (!) - good workaround

[2015-05-28 09:47] moonwolf-github opened #126 "No text formatting"
In Fedora (KDE), when someone uses text formatting (bold or italic) there is no effect  - when inspecting there are html tags, but message appears in plain text. Using Lato 2.0 font doesn't help.

[2015-05-29 07:46] Aaron3 opened #128 "Feature Request: Support mouse forward/back navigation"
On a many buttoned mouse in a browser, you usually have 2 buttons that work with browsers as forward and back (emulating Alt+[left/right arrow] keys). When managing a lot of chats or switching between rooms to grab a link, then back to another chat, these buttons are extremely helpful.

These are usually buttons 8 (back) and 9 (forward).

(Supporting  Alt+[left/right arrow] keys would also be nice

[2015-05-29 12:18] raelgc commented on #57
@angrycamel I'm using the default Qt shortcuts, and unfortunately, on Linux, zoom is `ctrl`+`=`.

So to get the `=`, you need to press `shit`+`+`.

Then, to get the complete shortcut you need to press, like you noted, `ctrl`+`shift`+`=`.

[2015-05-29 12:25] raelgc commented on #126
You need to install any fixed width font. In Ubuntu package, suggestion is the package with `mscorefonts`, because it has the Courier New font. See #39.

For RPM, you need the `msttcore-fonts-installer` package. If not provided in default install, please, get it from http://mscorefonts2.sourceforge.net/

[2015-05-29 12:25] #126 closed

[2015-05-29 21:16] ComtriS opened #129 "Feature Request: Fullscreen support"
Fullscreen should hide the menu and title bar.

[2015-05-30 17:58] raelgc commented on #122
@nazar-pc, I've implemented this option. Start with `scudcloud --minimized=True` to start ScudCloud minimized.

If it works as expected, please, close this issue.

Of course, first run `sudo apt-get update && sudo apt-get upgrade`.

[2015-05-30 18:16] nazar-pc commented on #122
Thanks!

[2015-05-30 18:16] #122 closed

[2015-05-30 18:20] nazar-pc commented on #81
Well, since minimized start is implemented, would be nice to fix this one.
There is no problems with "remember me" feature now, just need to click to load team.
What exactly happens when team icon on the left is clicked? Is there any way to trigger it automatically?

[2015-05-30 19:16] raelgc commented on #81
@nazar-pc When the first team is loaded, we call `TS.getAllTeams()` (which returns teams id and name), then ScudCloud populates the left pane with them.

When you click in the team icon (for the first time), then ScudCloud creates a new QWebView (the HTML container) for the team.

This is the same behavior from the Mac version (at least the last time I checked in a Hackintosh VM).

As QWebView is

[2015-05-30 20:36] nazar-pc commented on #81
@raelgc, that would be nice, can't wait to test it.

[2015-05-30 20:54] derekn opened #130 "Feature request: taskbar flash notification"
It would be nice to have the window flash in the taskbar (i.e. Gnome panel) for new message notifications (a la Thunderbird)

[2015-05-31 17:03] raelgc commented on #130
@derekn, thanks for reporting this feature request.

This feature is present only for Unity: it was for all, but in KDE it was stealing focus :(

[2015-06-01 16:39] madjidtaha opened #131 "Preferences action in menu always open in first team"
Hello,

I use Scudcloud on elementary OS Freya with multiple team,
when I try to open preferences in my second team, nothing happen and when I switch to my first team,
the preferences panel is open.

Maybe the #125 issue is linked to it.

Thank you

[2015-06-01 16:52] michaelherold commented on #125
This occurs for me initially upon loading scudcloud, but as soon as I click around in the app (change a channel or interact with a timeline) Preferences becomes available. @WolfangAukang is it still disabled for you if you change the active channel?

[2015-06-01 17:40] WolfangAukang commented on #125
@michaelherold  Strangely, now I turned on the computer (with Manjaro) and it worked just when I opened it. And the notifications are working (they weren't working before).

In case the problem repeats, I will try it again.

[2015-06-01 20:17] raelgc commented on #125
`Preferences` (and other account entries) are enabled only when the Slack JavaScript receives the connection signal.

[2015-06-02 04:43] khanhicetea opened #132 "Crash issue when update latest version"
Hi,

I have just updated latest version of Scudcloud, but I can't use (it has blank screen).
My OS : Ubuntu 14.04

This is screenshot

![screenshot from 2015-06-02 11 40 19](https://cloud.githubusercontent.com/assets/4528223/7928566/81dee864-091c-11e5-8496-2e6a5fa9beb4.png)

How can I resolve this ?
Thanks :)

[2015-06-02 05:00] khanhicetea commented on #132
Sr, I can't connect to Slack server (may be its server is down or my networking is bad). So this issue is not related to Scudcloud.

[2015-06-02 05:00] #132 closed

[2015-06-02 13:36] derekn commented on #130
could it be a preference option?

[2015-06-02 16:19] raelgc commented on #130
Other possible solution can be avoid flash just under KDE/Cinnamon, etc. Or support only GTK environments.

Reminder to myself: flash was removed in #22

[2015-06-02 21:21] mgallagher opened #133 "Monospaced fonts appear as typical serif font"
This very well might be a problem on my end (Arch + GNOME), but here's what I get in scudcloud when I type out a code block or preformatted text:

![image](https://cloud.githubusercontent.com/assets/1775621/7947509/d0b00e3c-093a-11e5-9852-cb474d2b50ea.png)

And here it is Chromium:

![image](https://cloud.githubusercontent.com/assets/1775621/7947502/bd4daaac-093a-11e5-9833-f8a2e4c8fc2a.png)

Anyth

[2015-06-02 22:11] michaelherold commented on #133
Interestingly, mine uses sans-serif fonts:

![Image of Scudcloud](http://i.imgur.com/cRtN92U.png)

I have enabled the "use Lato 2.0" option in Preferences and have installed `ttf-lato` from the AUR.

That being said, by using `scudcloud --debug=True` I was able to determine that the font stack for monospaced fonts is `font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;` which doesn't i

[2015-06-03 14:12] raelgc commented on #133
Usually installing any package with `Courier New` (like `mscore-fonts` or `ttf-mscorefonts-installer`) solves the problem.

[2015-06-05 06:50] throrin19 opened #134 "keep connect does not works"
Hi, If I exit the app and relanch it, my connection is closed but, in the last logIn, I check the keep connect button. It's normal ?

[2015-06-05 10:19] santozz opened #135 "Can't go back after typo writing team name"
I was logging in the first time and made a mistake writing my team name. Since then I have reopened the program, reinstalled, restarted pc and cant go back because it keeps me in the login screen of a team I don't belong because I made the typo.

Is there the possibility of adding a back button?

Thanks1

[2015-06-05 10:36] #135 closed

[2015-06-06 17:05] raelgc commented on #55
@boltronics Sorry for my late response. Yeap, additionally to the hunspell package for your language, you need the hunspell plugin for Qt installed. Can you try install the package `libqtwebkit-qupzillaplugins_1.0-1_amd64.deb` available in https://launchpad.net/~rael-gc/+archive/ubuntu/scudcloud/+packages ?

[2015-06-07 03:37] boltronics commented on #55
That seems to work, thanks! It would be great to have that in the documentation. Even better to have the package in Jessie backports. :)

[2015-06-10 13:43] raelgc commented on #131
Duplicate of #125

[2015-06-10 13:43] #131 closed

[2015-06-10 13:48] raelgc commented on #128
Hi @Aaron3, thanks for reporting this.

One question: enable `Alt`+`left arrow` and `Alt`+`right arrow` will be enough?

[2015-06-10 15:06] Lauxtermann commented on #102
Install proxychains (sudo apt-get install)

Edit /etc/proxychains.conf (tab separated values)
[ProxyList]
http    proxy-ip    8080    domain\username   password
https  proxy-ip    8080    domain\username   password

Edit: /usr/share/applications

#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=Network;Chat;
Name=ScudCloud
Comment=ScudCloud is an open-

[2015-06-10 16:17] raelgc commented on #125
Please, upgrade and test. Re-open the issue if not fixed.

[2015-06-10 16:17] #125 closed

[2015-06-10 16:17] raelgc commented on #82
Please, upgrade and test. Re-open the issue if not fixed.

[2015-06-10 16:17] #82 closed

[2015-06-10 22:10] Aaron3 commented on #128
But, fancy mouse buttons? :sob:

[2015-06-11 06:15] maksymov commented on #66
:+1:

[2015-06-11 07:10] frontiertsymbal opened #139 "Compact message style incorrect show"
The problem with the display of compact messages.
System - RFRemix Fedora 21 Cinnamon

![2015-06-11 10 08 30](https://cloud.githubusercontent.com/assets/9643428/8101706/5f1a4f46-1022-11e5-8b48-6505734120a6.png)

[2015-06-11 11:49] raelgc commented on #128
Just to learn more about what you need: Is this directly supported by browsers? Are we talking about page navigation back and forward? Because they're not that much useful in Slack.

[2015-06-11 11:53] raelgc commented on #139
Hi @frontiertsymbal, thanks for reporting this issue.

First and more important: where is this party from the picture? :D

Now about the compact incorrectly displayed: ScudCloud is basically just a webkit wrapper for Slack with some desktop interaction.

This issue sounds like you don't have Font Lato installed or old webkit package.

[2015-06-11 12:02] Aaron3 commented on #128
Yes it is. All browsers support it. And yes, it is page navigation back and forth.

When moving between a lot of chat rooms with simultaneous chats, it is extremely useful.

[2015-06-11 12:22] raelgc commented on #128
Aaron, in a first moment, what comes to my mind is: if you press back and forward in Slack, you'll get previous and next pages in browser history, not switch between rooms.

Or Slack, in browser, work differently? I mean, if you press back, instead of get previous browser history, you'll switch between Slack channels?

Sorry to ask so many details, I'm just trying to understand to implement this.

[2015-06-11 12:23] Aaron3 commented on #128
Yes, when using it in the browser it navigates between channels.

On Thu, Jun 11, 2015 at 3:22 PM, Rael Gugelmin Cunha <
notifications@github.com> wrote:

[2015-06-11 15:03] edmundcraske opened #140 "Viewing large content/file within chat unusably slow"
Hi, not really sure how to report this, but here goes - a colleague added an 8KB Python file to a chat, and whilst the preview shows just fine and doesn't affect the performance of ScudCloud, if I click on the name of the file, or any of the other links which cause the sidebar to open to show the full file, ScudCloud becomes unusably slow - I'm unable to scroll in a timely fashion, and ScudCloud q

[2015-06-12 06:31] throrin19 commented on #134
bump

[2015-06-12 12:26] raelgc commented on #134
Hi @throrin19 and sorry for my late response.

Where is this button? (Sorry, I still didn't saw it).

And, I think this option is to not disconnect after a timeout while away from the desktop (the default Slack behaviour). Not to keep connection after close the app (what is, in theory, impossible).

[2015-06-12 14:04] throrin19 commented on #134
Ok, It's a shame that it is impossible to keep the connection and information after leaving the application. The browser gets there yet though. thank you

[2015-06-12 22:17] raelgc commented on #134
@throrin19 Are you talking about the `Keep me signed in` displayed during login?

[2015-06-13 19:50] aikar opened #141 "User Styles/Scripts"
Styles mostly, but can we have a way to load user styles and scripts?

See: https://userstyles.org/styles/browse/slack

Would love to apply them to the ScudCloud client.

[2015-06-15 06:40] throrin19 commented on #134
Yes, I talking about this checkbox. I can't see other `keep me signed in` in other place :(. It's not possible to store information in localstorage or other secure storage ?

[2015-06-15 11:53] raelgc commented on #134
Sorry, in a first moment I was not realizing you were talking about this checkbox.

It must works and store you info at `~/.config/scudcloud/`. Can you close ScudCloud and try create that folder manually?

[2015-06-15 11:55] raelgc commented on #133
@mgallagher Can you try the above suggestion and give us a feedback, please?

[2015-06-15 11:56] raelgc commented on #130
Hi @derekn,

After some investigation in the code, I found that the flash notification is supported only under Unity (but probably can be extended to Gnome, and like mentioned, it was removed due Qt DE users reporting a but that flash was stealing focus).

Which DE are you using?

[2015-06-15 11:58] raelgc commented on #87
@xdmx Can you test this again? In the last couple of changes, I tried to make ScudCloud work more closely to the OSX client.

[2015-06-15 11:59] raelgc commented on #51
Hi @cdysthe, any update on this? I mean, still facing the same issue?

[2015-06-15 12:52] derekn commented on #130
I'm using Cinnamon which is a fork of Gnome 3

[2015-06-16 06:19] throrin19 commented on #134
THe folder was created and now it works fine. Thanks

[2015-06-16 06:19] #134 closed

[2015-06-16 11:47] lalomartins opened #143 "Integration prompt inside chat → ScudCloud breaks"
So I'm in a new team where I hadn't so far configured Google Docs/Drive/etc integration. I pasted a link to a GDoc. Slack shows me the message offering to integrate. I clicked the link to allow it. That replaces the whole page with a Google authentication screen… and I couldn't get out of it.

(Might have been possible with alt-left, or using my keyboard or mouse's special back key/button, but I d

[2015-06-16 11:48] raelgc commented on #102
Please, see #115.

[2015-06-16 11:48] #102 closed

[2015-06-16 11:49] raelgc commented on #115
Changes are deployed to Ubuntu repos and manual install. Thanks to @sozonnyk for the code!

[2015-06-16 11:49] #115 closed

[2015-06-16 11:52] raelgc commented on #143
I suspect that ScudCloud is trying to browse to the URL due the Google Auth support. Can you, please, paste the file link URL? (Of course, you can replace any sensitive IDs in the URL).

[2015-06-16 11:54] lalomartins commented on #143
Sorry, since I already authorized it, I have no idea how to reproduce it again :smile_cat:

Ooh, maybe it would make sense for us to create a ScudCloud team in Slack? Too meta?

[2015-06-16 11:56] lalomartins commented on #143
although we'd have to keep #81 in mind

[2015-06-16 12:55] raelgc commented on #81
@nazar-pc, please test this.

Open, as `root` or `sudo` file `/opt/scudcloud/lib/scudcloud.py`.

Then in the line `187`, you'll find this method:

[code]

Please, add the last line like displayed below, paying attention to preserve white spaces in the beginning of the line:

[code]

Save the file and restart ScudCloud. Let me know if it works as expected.

[2015-06-16 16:32] nazar-pc commented on #81
Added that line, nothing changed. No error messages when running from terminal.

[2015-06-16 17:21] raelgc commented on #81
@nazar-pc Our teams do not get logged in automatically?

[2015-06-16 17:36] nazar-pc commented on #81
Yes, as it was before change

[2015-06-16 19:11] raelgc commented on #124
Fix published in Ubuntu repos.

[2015-06-16 19:11] #124 closed

[2015-06-16 19:13] raelgc commented on #81
@nazar-pc I've tested this change here, and team get logged automatically. The only weird stuff, and not sure if it's related, is I can see some random team switches happening in a random way. Anyway, I'll test more before publish this.

[2015-06-16 19:16] nazar-pc commented on #81
Sorry, I've put it into `except` part.
Logging in automatically seems to work fine, I'll test this more as well.

[2015-06-17 04:58] nazar-pc commented on #81
There is one bug.
I have 2 teams, both are logged in at start, this is fine.
First one is active by default, this is fine too.
Now about weird stuff:
- click on any channel - it switches to second team
- switch to second team, click any channel - it switches to first team

Basically choosing any channel in any team switches me to opposite team immediately (while selecting proper channel in target

[2015-06-17 10:41] sarovios opened #147 "ScudCloud is stuck on slack status page"
I had some connection issues and I pressed to open the slack status (https://status.slack.com/) page from ScudCloud. From this time I am stuck in this page and I can't go back to the main page. I tried to re-open and re-install but nothing seems to work.

[2015-06-17 12:10] raelgc commented on #81
@nazar-pc, yeap, I saw the same behaviour here. Revert locally, please, I'll dig a bit to see why this is happening.

Thank you for helping me to test that!

[2015-06-17 12:10] raelgc commented on #81
Anyway, the first team icon is fixed :)

[2015-06-17 12:13] raelgc commented on #147
Hi @sarovios, thank you for reporting this issue.

Well, probably if I add buttons to `Back` and `Forward` navigation, this will be avoided.

For now, please, remove this file: `~/.config/scudcloud/scudcloud.cfg`.

Dumb question: what to press in order to open the Slack status page?

[2015-06-17 12:50] raelgc commented on #128
@Aaron3 I took a look in Slack documentation: the shortcut to switch channels is `Alt`+`Up arrow` or `Alt`+`Down arrow`, and they works in ScudCloud.

Not related to Navigation History shortcuts ( `Alt`+`Left arrow` or `Alt`+`Right arrow`).

[2015-06-17 12:57] raelgc commented on #143
I like the idea of a Slack team, just thinking if that will not cause too much noise in the daily work.

About the issue: I'm adding Back and Forward browsing (with shortcuts), so probably this will avoid this kind of issue.

[2015-06-17 13:01] Aaron3 commented on #128
Alt+left/right was just explaining how the mouse buttons work in a browser.
Mouse navigation is the issue not keyboard.

On Wed, Jun 17, 2015 at 3:50 PM, Rael Gugelmin Cunha <
notifications@github.com> wrote:

[2015-06-17 13:09] lalomartins opened #149 "Idea: a ScudCloud team on Slack"
Idea raised in #143: create a Slack team for ScudCloud, for coordinating and mainly for testing.

To avoid noise, we should set some rules. Here's what I propose:

- Only post in *general* if it's really important.
- On days you can't handle noise, leave *random*. Or, conversely, leave it when you join the team, and only join it when you have free time to chat.
- Posting to *random* is not restric

[2015-06-17 13:09] lalomartins commented on #143
ok, moved the tangential discussion to its own ticket

[2015-06-17 13:35] sarovios commented on #147
Thanks, config file removal worked. Back/Forward buttons should be fine to solve this issue.

[2015-06-17 14:26] michaelherold commented on #149
:+1:

[2015-06-17 15:01] raelgc commented on #129
Published in Ubuntu repositories. Please, update/upgrade and re-open this issue if not properly working.

[2015-06-17 15:01] #129 closed

[2015-06-17 15:02] raelgc commented on #147
Published in Ubuntu repositories. Please, update/upgrade and re-open this issue if not properly working.

[2015-06-17 15:02] #147 closed

[2015-06-17 19:49] tigerand opened #152 "scudcloud uses too much CPU"
when the scudcloud application window has the focus on my Desktop, it consumes massive amounts of CPU.  There's no good reason for that.  Sure, it may be animating various little things on occassion, but that *should* be hardly noticeable CPU wise.  Some things I expect might bump up the CPU usage a bit, like hitting the arrow key to start editing a previous message, or when typing fast and it's h

[2015-06-18 08:58] Trois-Six opened #153 "Environment variables / Proxy"
Hi,

I just tested scudcloud on my machine (Debian Sid). I just cloned the repository (commit 13d7bc0dbb2b370ddf049477654dea5029546496) et dpkg-buildpacked it.

Here at work we are using a proxy to connect to the outside world.

I can't understand why launching scudcloud from a terminal keeps environment variables and scudcloud is able to connect to slack whereas launching it from the gnome menu d

[2015-06-18 11:32] raelgc commented on #42
Appears that Slack team fixed this :)

[2015-06-18 12:43] Slater91 commented on #81
Hi @raelgc, it seems like the last updates breaks everything. Not only teams after the first do not automatically get logged, but desktop notifications appear as disabled and I can't either select preferences nor log in to another team.
Starting ScudCloud from the terminal does not display any apparent issue, even in debug mode.

[2015-06-18 13:11] raelgc commented on #81
@Slater91 I just pushed a new version, can you update/upgrade again, please?

[2015-06-18 13:21] raelgc commented on #153
Hi @Trois-Six, let's try find a solution!

My first thought on it: are the env vars created in any personal file, like `.bash_profile`? Maybe you should put on any `/etc` environment files.

Additionally, if you try with `bash` instead of `sh`? `sh`, afaik in Debian and Ubuntu is not `bash` and it's more stripped down then the default `bash`.

If not of above works, we can try another solution!

[2015-06-18 13:29] Slater91 commented on #81
@raelgc: the latest update fixes all the issues and now everything is working again! The second team does in fact get logged in, by the way!

Thank you!

[2015-06-18 13:56] #81 closed

[2015-06-18 14:01] raelgc commented on #149
Please, send your emails to me: rael.gc@gmail.com

[2015-06-18 14:20] lalomartins commented on #143
![screenshot from 2015-06-18 16 16 45](https://cloud.githubusercontent.com/assets/1211455/8233244/77660334-15d5-11e5-9eed-972a3a5ccb0b.png)
The links are:
[Yes](https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=https%3A%2F%2Fslack.com%2Fservices%2Fauth%2Fgoogle&client_id=[removed]&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.readonly+https%3A%2F%2Fwww.googleapis.co

[2015-06-18 15:00] #149 closed

[2015-06-18 20:37] theanine commented on #129
The title bar is hidden properly, but the menu bar is not.  I'm on Ubuntu 14.04 LTS.

Also, the menu item says "Toogle" instead of "Toggle".

[2015-06-18 20:50] raelgc commented on #129
@ComtriS I've updated one version today, and aside the typo (thank you!), it's working fine for me on Unity under 14.04 LTS. Are you using Unity too?

[2015-06-18 21:00] theanine commented on #129
I'm using Gnome.

[2015-06-18 21:24] raelgc commented on #129
Appears to be a bug in GTK3: https://bugs.launchpad.net/qemu/+bug/1294898

As Unity do not uses the default menu bar (and uses it in the window bar), this is not an issue.

I tried to just hides the menu bar, but when it's hidden, a lot of shortcuts stops to works, including the one to toggle the fullscreen mode.

And according the same bug, resize the menubar in GTK3 do not works as expected.

I'

[2015-06-18 21:32] theanine commented on #129
No ideas.  I can live with the menu bar for now.  Full screen works pretty well.  Thanks.

[2015-06-18 23:04] TheTechmage commented on #139
I would just like to say that I'm seeing the exact same thing.  My version of webkit should be fairly up-to-date ish, since I updated my system a month or two ago. As far as font lato? I can't seem to find that font anywhere in the official Archlinux package repositories, nor the user repository. So I'm not sure how I could go about installing it. I've also tried changing the Lato font setting to

[2015-06-18 23:15] raelgc commented on #139
@frostyfrog and @frontiertsymbal: You can get the font this way:
1. Download the .deb package file: http://packages.ubuntu.com/trusty/all/fonts-lato/download
2. Extract it.
3. Go to the extracted folder `usr/share/fonts/truetype/lato/`.
4. Install all fonts in there (usually in Gnome/KDE you can just right click and select `Install`).

@frostyfrog, about your question: indeed, the program intercep

[2015-06-19 05:49] syphernl opened #155 "Scudcloud crashes upon start"
Scudcloud crashes during load, most likely due to the fact that Chrome's Pepperflash was updated:
[code]

Slack in Chrome works just fine though.

[code]

Specs: Ubuntu 15.04 LTS amd64 with Cinnamon 2.6

[2015-06-19 07:30] moritzheiber commented on #155
Same happens for me. Why does Scudcloud even need a flash plugin?

[2015-06-19 12:28] ldimitroff opened #156 "Doesn't keep my user and pass on a seccond slack account"
I have two slack accounts, and I have both logged in the first time. Everytime I reboot my computer, the second account asks me for the user and password again.

[2015-06-19 12:54] raelgc commented on #155
@syphernl and @moritzheiber: thank you for reporting this issue.

Flash is required due embedded video playback, like Youtube, and the fact that Qt4 does not support HTML5 videos.

A proper way to solve this can be add a command line argument to disable plugins. Like `--plugins=False`.

[2015-06-19 12:57] trois-six commented on #153
These environment variables are exported by gnome when you configure a proxy inside gnome, they are not set by /etc/environment or my .bash_profile.
I did try with bash, but it's the same.

If I launch scudcloud from a terminal I have :

[code]

From the .desktop shortcut :

[code]

As you can see, the ._[P|p][R|r][O|o][X|x][Y|y]._ variables are missing.

[2015-06-19 13:11] graywolf-theheathen commented on #155
Same issue here.

scudcloud --debug DEBUG
NOT SANDBOXED
java version "1.7.0_79"
OpenJDK Runtime Environment (IcedTea 2.5.5) (7u79-2.5.5-0ubuntu0.14.04.2)
OpenJDK 64-Bit Server VM (build 24.79-b02, mixed mode)
[ERROR:flash/platform/pepper/common/pep_process.cpp(19)] CHECK(g_process_type == PROCESS_TYPE_UNKNOWN) failed
Aborted

[2015-06-19 13:17] graywolf-theheathen commented on #155
Tried the plugins=false thing two ways and neither worked. Suggestions?

scudcloud --plugins=False
usage: scudcloud [-h] [--confdir dir] [--debug DEBUG] [--minimized MINIMIZED]
scudcloud: error: unrecognized arguments: --plugins=False

scudcloud --plugins FALSE
usage: scudcloud [-h] [--confdir dir] [--debug DEBUG] [--minimized MINIMIZED]
scudcloud: error: unrecognized arguments: --plugins FALSE

[2015-06-19 13:38] raelgc commented on #155
@graywolf-theheathen I'm working to add this parameter now, ScudCloud still doesn't support it.

[2015-06-19 13:41] graywolf-theheathen commented on #155
That sir is a good reason it didn't work, lol.

[2015-06-19 14:21] raelgc commented on #155
God, python `ArgumentParser` just sucks... it says to support `bool`, but it doesn't properly. I'll need to add it as `no_plugins` to keep the arguments compatible with existing ones.

[2015-06-19 14:21] michaelherold commented on #156
Out of curiosity, did you check "remember me" on the second team?

[2015-06-19 14:27] ldimitroff commented on #156
Yes, of course, on both accounts.

[2015-06-19 15:40] ajithrn commented on #155
NOT SANDBOXED
[ERROR:flash/platform/pepper/common/pep_process.cpp(19)] CHECK(g_process_type == PROCESS_TYPE_UNKNOWN) failed

Got the same issue, elementary OS Freya

[2015-06-19 15:45] graywolf-theheathen commented on #155
Added  --no_plugins NO_PLUGINS to my launcher and it is working now. Thank you sir. Any idea on if/when the flash issue will be resolved? If it can.

[2015-06-19 15:58] TheTechmage commented on #139
Thank you @raelgc for helping out with that. I am sad to report, however, that the stray [ is still present after installing the lato font and rebuilding the font cache (with `fc-cache -f`) I decided to updat my webkit package to `qtwebkit-2.3.4-2-x86_64`, which didn't help at all :disappointed:

If you have any other ideas for me to try, I'm all ears.

[2015-06-19 16:02] moritzheiber commented on #155
:+1: Works for me now. Thanks!

[2015-06-19 16:19] #155 closed

[2015-06-19 16:20] #143 closed

[2015-06-19 16:27] raelgc commented on #139
@frostyfrog Is there any `webkitgtk3` package?

[2015-06-19 16:33] #133 closed

[2015-06-19 16:35] TheTechmage commented on #139
I have just installed (`webkitgtk-2.4.9-1-x86_64`) for gtk3 support. Unless a reboot is necessary (I'm a bit doubtful it is though, due to the way linux works), it didn't help at all, @raelgc.

[2015-06-19 16:37] raelgc commented on #62
One possible solution is to try to configure QT keybinding. There is a question in SuperUser: http://superuser.com/questions/171925/enable-emacs-like-keybindings-scheme-for-all-qt-applications

[2015-06-19 16:37] #62 closed

[2015-06-19 16:38] #51 closed

[2015-06-19 16:42] raelgc commented on #152
Hi @tigerand and thank you for reporting this issue.

In some channels or room, I heard from people this unusual behaviour.

Unfortunately, ScudCloud has not that much control over this, as we're using a webkit container to render Slack. Maybe upgrade to webkit5, not sure.

Anyway, today I just added one option to start ScudCloud with all plugins disabled: `scudcloud --no_plugins=True`

Other opti

[2015-06-19 18:01] oliverbienert commented on #156
It's the same with me.  I established my second account a couple of weeks later than the first. However, after every reboot, I have to login again into my second account. And yes, I've checked the 'Remember me' checkbox.

[2015-06-19 18:15] oliverbienert opened #158 "Scudcloud remains empty when initially offline"
Hi,

I frequently choose to manually establish an internet connection after I booted my system. However, when scudcloud is started offline (I have it in a xfce session, so it would start automatically), it shows nothing (which is ok), but after going online scudcloud keeps being empty. Reloading has no effect whatsoever. I have to quit and restart the application.

[2015-06-19 23:14] RobertAtomic commented on #105
I'm having the same issue in CentOS 6.5 .  I don't have any extra certs or anything unusual on /etc/pki though.  Any suggestions?

[2015-06-19 23:22] solarce opened #159 "Caps Lock as Ctrl-L seems to cause highlighted text to become unhighlighted"
First, I am super happy for scudcloud, so thank you for all your hard work.

I am not sure if this is a scudcloud issue or an interaction with PyQT and my Cinnamon Desktop or what, but I wanted to file an issue to see what feedback you might have.

I  am running the latest stable release of scudcloud via AUR:

[code]

I have Caps Lock remapped to Ctrl-L in Cinnamon and I find that when I highlight

[2015-06-20 00:39] raelgc commented on #159
Hi @solarce, thank you for reporting this.

QT and GTK uses different keybinding configs. A similar raised issue is #62.

I don't know how exactly to set the keybindings for QT in a GTK environment, so the only possible solutions is this SuperUser question: http://superuser.com/questions/171925/enable-emacs-like-keybindings-scheme-for-all-qt-applications

[2015-06-20 15:44] moonwolf-github commented on #105
@RobertAtomic where did you get python3 for CentOS6 from?

[2015-06-20 15:47] moonwolf-github commented on #158
Same issue here (Fedora with KDE).

[2015-06-21 12:13] xdmx commented on #87
I've just upgraded to v1.0.46 (under Arch), but it seems that I'm still put offline after few minutes even while I use the laptop with scudcloud minimized in the tray bar

[2015-06-21 12:14] xdmx commented on #82
Using v1.0.46 (Arch) I see that images are still loaded each time I switch channels

[2015-06-22 01:13] vn38minhtran opened #160 "Aborted (core dumped)"
[code]

[2015-06-22 01:35] raelgc commented on #82
@xdmx I've researched about this, and it's a behaviour from webkit, unfortunately.

[2015-06-22 01:36] raelgc commented on #160
Please see #155

[2015-06-22 01:36] #160 closed

[2015-06-22 01:50] minhtranite commented on #160
Thanks!

[2015-06-22 07:49] tvolkov commented on #140
I've got the same problem: a colleague added 19KB xml file to a chat, and ScudCloud literally freezes

[2015-06-22 08:34] Gibol opened #161 "Segmentation fault."
![zrzut ekranu z 2015-06-22 10 30 50](https://cloud.githubusercontent.com/assets/5168262/8278265/40bf0cc0-18ca-11e5-8404-8a8e0ab9e129.png)
![zrzut ekranu z 2015-06-22 10 32 32](https://cloud.githubusercontent.com/assets/5168262/8278266/40c5db04-18ca-11e5-8d58-c3f5d42f65e8.png)
![zrzut ekranu z 2015-06-22 10 32 56](https://cloud.githubusercontent.com/assets/5168262/8278268/40c784cc-18ca-11e5-9530-4

[2015-06-22 12:01] raelgc commented on #161
Hi @Gibol, thank you for reporting this issue.

Can you tell me if this is related to #155?

[2015-06-22 12:03] raelgc commented on #140
This is related to how webkit handles the files. Probably we should make ScudCloud open all non image/video files externally (using `xdg-open`).

What is the URL of the files when you're about to click on it?

[2015-06-22 12:06] tvolkov commented on #140
For me it was like the following:
https://my-team.slack.com/files/dkabanov/F06L5H482/response.xml

[2015-06-22 12:39] larsnystrom opened #162 "High DPI support"
Everything is tiny on a high resolution screen. It would be really nice if you could scale the UI somehow.

On Unity 7 you can get the default scaling factor with this script:

    #!/bin/sh

    command -v gsettings >/dev/null 2>&1 || { echo >&2 "gsettings not found."; exit 1; }

    SCALING_FACTOR=`gsettings get org.gnome.desktop.interface scaling-factor | cut -c7-`
    TEXT_SCALING_FACTOR=`gset

[2015-06-22 13:31] graywolf-theheathen commented on #155
Update;

Pepperflash just updated on my Linux Mint box. Scudcloud now runs with Plugins.

[2015-06-22 15:16] Gibol commented on #161
I don't think so.
It was just a random crash, i think it was in tray or i was on another
desktop when it happend.
It seems to have something to do with dbus (stack trace clearly shows where
that happend )

2015-06-22 14:01 GMT+02:00 Rael Gugelmin Cunha notifications@github.com:

[2015-06-22 18:04] raelgc commented on #162
Hi @larsnystrom and thanks for reporting this issue.

As an alternative, ScudCloud offers zoom support.

You can increase zoom pressing `Ctrl`+`+` (usually fired with `Ctrl`+`Shift`+`=`) and decrease with `Ctrl`+`-`. Reset it with `Ctrl`+`0`.

[2015-06-22 18:06] raelgc commented on #158
Hi @oliverbienert and @moonwolf-github, thank you for reporting this issue.

I'll try address it in the next weeks.

Reminder to myself (or anyone with code skills): check `QWebPage::loadFinished(false)` as described [here](http://stackoverflow.com/questions/7279046/how-to-get-detailed-error-message-when-qtwebkit-fails-to-load-a-page).

[2015-06-22 18:08] raelgc commented on #155
Thank you for sharing this @graywolf-theheathen! :)

[2015-06-22 19:07] lalomartins commented on #63
I'm thinking of working on this in the next couple of weeks as a project to familiarize myself with the code.

There's one problem I see: the spec recommends (strongly) you have a checkbox in the configuration to enable integration, but so far SC doesn't have its own configuration UI. What do you think?

[2015-06-22 19:50] raelgc commented on #63
@lalomartins I'm very glad if you can help with that! :)

About the lack of config UI: I'm just trying following a very minimal UI, and most of stuff working just detecting if feature is present or not.

Main reason: more code, more bugs.

Of course, I'm not totally against a config UI, but you should be ready to deal with several issues/request/complains about the config UI here in GitHub.

And,

[2015-06-22 19:54] lalomartins commented on #63
We don't even need to go that far, according to the spec, Unity detects us :-P we just leave a file somewhere registering interest, and it pings us via, what was it, libindicator or something if it's there and the menu is enabled.

I think even the recommendation in the spec should allow for that, I mean, if the app has no configuration UI _at all_, they wouldn't expect us to add one just for this

[2015-06-23 14:25] lalomartins commented on #63
Note to self: I'll put a flag on the config file. And since the config file already has a line for disabling the systray, we should remove the wording in the README about deleting it to clear the default domain, and possibly add a section about disabling systray/messaging menu.

[2015-06-23 18:11] #162 closed

[2015-06-23 18:17] raelgc commented on #152
@tigerand Can you update and check if the CPU usage is a bit lower now?

[2015-06-24 01:26] nafg opened #163 "Keeps on prompting to enable desktop notifications"
Every so often a panel appears at the top of slack saying desktop notifications need to be reenabled.

[2015-06-24 06:13] moonwolf-github commented on #163
With 1.0.46 (and earlier versions) it happens every time program starts. I'll check 1.0.48 in a minute.

[2015-06-24 07:08] moonwolf-github commented on #163
Same for 1.0.48.

[2015-06-24 09:32] moonwolf-github opened #164 "Notifications"
After upgrade to 1.0.48 i noticed notifications behave very strangely. Sound plays even when application has focus (when i'm talking with somebody on private). Second thing - icon on taskbar receiving number of unread messages and it keeps displaying it (can't test it further at the moment, don't know on what circumstances numbers disappear eventually, but it lasts some time).

[2015-06-24 13:55] franleplant commented on #120
Im having the same problem on Ubuntu 14.04.
I tried using `ubuntu-tweak` and nothing, but this could be an inherent problem with my system's notification.

[2015-06-24 14:00] raelgc commented on #164
Hi @moonwolf-github, thanks for reporting this issue.

About the sound: sound is not handled by ScudCloud, it's played directly by Slack. Sometimes I can see a delay, but few occasions.

I'm trying a fix to try to make the count get updated more often. I did a different approach with notifications in 1.0.46 to make ScudCloud use less CPU.

[2015-06-24 16:23] collinpeters opened #166 "Possible to have contact integration with launcher?"
I'm wondering if it is possible to do something similar to the Skype plugin for Kupfer (a launcher in the same vein as Synapse, Gnome Do, Spotlight on a Mac,e tc...). It allows to me start typing someones name and it automatically will open a Skype chat window with that person. A great time saver. Is there any way for you to pull the list of people from Slack? And after that is there a way to focu

[2015-06-24 16:26] collinpeters opened #167 "Possible to show existing ScudCloud process instead of launching another?"
Currently if ScudCloud is running but closed (i.e. tray only) and I launch it again with my launcher (Kupfer), it tries to launch a second process with the error "The program is already running". Is it possible to open the existing ScudCloud process (i.e. just like clicking 'Show' in the tray) instead of the error?

[2015-06-24 17:00] pedro-brentan opened #168 "Doesn't display my team icon"
I'm participating in more than one team, ScudCloud doesn't show the team icon in the left bar.

Attached you can see the pic.

Cheers.
![screenshot from 2015-06-24 13 59 59](https://cloud.githubusercontent.com/assets/7505314/8336235/677b606a-1a79-11e5-8d7d-8da409bb13fe.png)

[2015-06-24 17:06] pedro-brentan commented on #168
Sorry, I thought we had set the icon, we didn't. Closing this stupid issue.

[2015-06-24 17:06] #168 closed

[2015-06-25 08:57] edmundcraske opened #169 "Linux Mint Cinnamon - tray icon sometimes does not display"
Sometimes, for a reason I can't establish, ScudCloud's tray icon does not display. Not sure if this is fundamentally a Linux Mint / Cinnamon bug or something else.

I've got ScudCloud configured to close to tray, and so there's no way of getting the window back when the tray icon has disappeared. If I try to launch ScudCloud from the Menu, it gives an error saying it's already running - is it poss

[2015-06-25 09:28] moonwolf-github commented on #140
I've just opened 194KB plain text file. Boy, it was painful (;) But does open exetrnally means file will open in other application? I would like to avoid it.

[2015-06-25 13:01] derekn commented on #169
This is an issue in Cinnamon. I experience it a lot with other apps, particularly Pidgin and Thunderbird.

[2015-06-25 16:20] davereid opened #170 "Cannot sign into more than two accounts"
I added two Slack team accounts successfully, but when I went to use 'Sign in to Another Team', it just does nothing.

[2015-06-26 00:16] tigerand commented on #152
_substantial_ improvement when idle.

still uses too much when it's up to something, especially desktop notifications and receiving a message from someone, but i'll take what i can get.

i noticed the web interface also now uses less CPU when idle, but the app is slightly more responsive because it's not running inside chrome browser.  or perhaps that's my imagination.  trying to get some extra li

[2015-06-26 14:13] sagotsky opened #171 "Feature request: _NET_WM_STATE should be set to urgent when a notification is sent"
I keep missing messages because my window manager doesn't flash the window.  The notifications are great, but only if I'm paying attention.  If I go to the bathroom or grab a coffee, I don't see those notifications.  Could scudcloud please set its windows to urgent whenever a notification is sent?

[2015-06-26 18:00] Larrik commented on #167
I came here to post the same question

[2015-06-26 19:01] ngrennan-inflection commented on #55
Spell checking is not working for me on Fedora 22 x86_64 and scudcloud 1.0.50. I have libqtwebkitplugins.so in /usr/lib64/qt4/plugins/webkit. I can even see it loading it with strace. I have the hunspell packages. I have tried setting the environment variables mention at, https://github.com/QupZilla/qtwebkit-plugins . I get no underlined misspellings.

This is a big deal to me, because it was one

[2015-06-29 14:51] 0xd3adsh3ll opened #172 "scudcloud doesn't show new messages"
Hello, I faced with problem, when scudcloud in tray and I get a new message but scudcloud doesn't show new messages I mean scudcloud doesn't highlights users which with new direct messages in main window. I have version 1.0-50 on linux mint cinnamon.
P.S. When I use older version I have no problems.
Thanks.

[2015-06-30 08:17] Nek- opened #173 "HiDPI Support"
Hello,

Thank you for scudcloud, that's awesome :) . But I have an issue with my hidpi computer (my resolution is 4K):

![](https://sc-cdn.scaleengine.net/i/4bc0b9f4607ac5f441ddc84d85719fae2.png)

The app is not really readable.

Well, currently I have a dualscreen and so no problem for me as the second screen is only fullhd. But careful with this feature: the dpi should apply when the app is swit

[2015-06-30 14:10] davereid commented on #170
Hrm, this seemed to have resolved it today after the update.

[2015-06-30 14:55] davidborrowman commented on #55
Hello. I have installed the hunspell plugin for Qt and ibqtwebkit-qupzillaplugins_1.0-1_amd64.deb as referenced above and still can't get any spelling suggestions within Scudcloud (fine elsewhere).
I use Kubuntu 14.04... KDELibs 4.1.3.3,  Qt 4.8.6, Kernel 3.16.0-38-generic x64... Please let me know if there is anything I can do to help diagnose the issue... Thank you for great software!

[2015-07-01 13:27] raelgc commented on #167
Thank you guys. But this is duplicate of #123

[2015-07-01 13:27] #167 closed

[2015-07-02 09:17] tomchiverton commented on #55
I can ack @davidborrowman comment for Kubutnu 14.04, even with the extra libqtwebkit-qupzillaplugins package, there's no spell check at all, never mind right click support.
Correction: some times it highlights after a delay, but it's not consistent. Also, "my woord is woord" only has the first "woord" underlined. If I click away from the input box, the underline on the second one appears.

[2015-07-02 09:20] tomchiverton commented on #152
On Kubuntu 14.04, there's no CPU usage to speak off, focused or not. About 10% when I'm typing.

[2015-07-02 13:39] davidborrowman commented on #55
Scud does spell check for me, but it only highlights (red squiggle line) misspelled words. Right clicking just doesn't bring up any spelling suggestions as it does in most other programs. It servers as a constant reminder of how stupid I am, and offers no help :)   I'm hoping this will make be a better speller, but I doubt it. Cheers!

Interesting side note: When I right click on a word, the red s

[2015-07-02 17:29] tigerand commented on #152
You are correct.  CPU usage is substantially improved -- one might say
completely cured -- in all areas, not just in idle or off-focus times.
I was wrong in my previous email where I said it still used too much CPU
during some operations.  It used to use so much CPU during desktop
notifications that it would hog out the X server and "freeze" the
whole desktop for 2-3 seconds.  Now, it's completely

[2015-07-04 12:53] zeeshanikram opened #174 "spellcheck not working Mint 17.1 64-bit"
I have installed the application and also hunspell-en-us dictionary but my input box does not display any misspelled words, neither it highlights anything.

[2015-07-07 10:34] DenisBY opened #175 "Feature request: `Esc` key should minimise scudcloud to the tray"
Please add support for this.

[2015-07-07 10:37] DenisBY opened #176 "Feature request: Clicking on tray icon should show/minimise scudcloud from/to the tray"
I mean if it's minimized to the tray, clicking once should show it and if I click again on the tray icon, scudcloud should be minimized to the tray again. Right/Left/Middle click, once/twice, whatever.

[2015-07-07 11:31] moonwolf-github commented on #175
I would vote against - it would be too easy to accidentally close window.

[2015-07-08 12:28] mcharron opened #177 "Preferences not working"
Hi,

On Ubuntu 12.04LTS, when I open preferences, each fields are in readonly... Or it seems to. They appear in gray.

There's no way to get it to work, notifications doesn't show on my desktop, I don't know if I'm doing something wrong or not...

Thanks

[2015-07-08 14:22] rahidelvi commented on #66
:+1:

[2015-07-09 09:12] paoloantinori opened #178 "Notification issue on Fedora - url truncated"
Hi, I have just spotted this issue on Fedora22

Someone posted this link in a room:

https://www.google.co.uk/search?q=famous&ie=utf-8&oe=utf-8&gws_rd=cr&ei=zjmeVbbDA8yxsAG2taTYDg#q=famous+traduzione

I have clicked on the Notification popup, integrated with the operating system, but I was sent to

https://www.google.co.uk/search?q=famo

something that suggests the url has been truncated in the no

[2015-07-09 19:56] rsyring commented on #176
I agree that the primary click (usually left) should show/hide by default.  Secondary click (right by default) should show the current menu for preferences, quit, etc.

[2015-07-09 20:00] rsyring opened #180 ""python3" may not be the system python (with PyQt installed)"
I'm a python dev and in my environment, "python3" from my path points to a python3.4 install that I have setup for my user.  In that case, scudcloud fails to start:
[code]
I have a workaround in place currently so it's not an issue for me.  But, is this something scudcloud wants to deal with as it moves forward?

[2015-07-09 22:08] thepaul opened #181 "Mousing over "reaction" emojis does not show contributing team members popup"
Regarding the new feature as described at: https://slack.zendesk.com/hc/en-us/articles/206870317-Emoji-reactions

It mostly works just fine already in Scudcloud. The only shortcoming, as far as I can tell, is there isn't a way to see who attached each reaction emoji without going into the web client.

[2015-07-10 02:00] rsyring commented on #175
fwiw -1, esc. key isn't standard enough for "close window" imo.

[2015-07-10 02:02] rsyring commented on #174
Ditto on Ubuntu 14.04.

[2015-07-10 02:17] rsyring commented on #174
related to #55 - tried the solution on #55 to install libqtwebkit-qupzillaplugins_1.0-1_amd64.deb but that doesn't seem to have resolved anything for me.

[2015-07-14 08:38] moonwolf-github commented on #181
Works for me.

[2015-07-14 11:16] metadan commented on #170
I'm having this problem today. Installed fresh today. 14.04 fully updated/upgraded and installed as recommended on install guide with apt.

[2015-07-14 11:17] metadan commented on #177
I also have an issue with preferences on 14.04. Nothing happens when I click it.

[2015-07-14 15:09] lots0logs commented on #177
+1 I can confirm this starting happening when I updated to v1.0.50 - 89c0291 I'm going to try the previous version now (I was a few versions behind when I updated to 1.0.50)

**Update:** The bug seems to have been introduced sometime after v1.0.48 and before v1.0.49. So to be clear, v1.0.48 does not have the issue. I hope that helps :smile:

[2015-07-14 16:36] aikikode commented on #180
I don't think it's the app responsibility to detect 'real' system python if the user altered his system.
'python3' by default points to system python.

Anyway it should not be an issue when https://github.com/raelgc/scudcloud/issues/85 is resolved and this app is installed via setuptools.

[2015-07-14 16:40] aikikode commented on #175
-1, such behavior is not expected to my mind.

[2015-07-14 16:42] aikikode commented on #173
Scudcloud has zoom support which can help for now: 'Ctrl +' and 'Ctrl -'.

[2015-07-14 21:23] rsyring commented on #174
I take the above comment back...after I restarted my machine, spelling highlights for misspelled words are now working.

[2015-07-14 22:09] thepaul commented on #181
It now works for me too. Probably a change on their end.

[2015-07-14 22:09] #181 closed

[2015-07-16 16:29] chazmo03 commented on #64
What is the difference between `~/.scudcloud` and `~/.config/scudcloud/scudcloud.cfg`?

[2015-07-16 17:30] dom0do opened #182 "Emoji artifacting"
My emoji are rendering pretty terribly in ScudCloud on my Ubuntu PC, like so:
![selection_145](https://cloud.githubusercontent.com/assets/758181/8728722/6e8a27ee-2bac-11e5-8d08-62c2c902504d.png)

But they render just fine in the Slack web interface in Firefox on the same system:
![selection_146](https://cloud.githubusercontent.com/assets/758181/8728794/e8d4d8be-2bac-11e5-8a36-0b6e3bfdae54.png)

Cl

[2015-07-16 20:34] michaelherold commented on #64
`~/.scudcloud` was the old name of the configuration file. We relocated it in #78 and Rael's comment is from prior to that change.

[2015-07-17 01:46] chrisvdb opened #183 "Slack needs your permission to enable desktop notifications"
Slack shows a "Slack needs your permission to enable desktop notifications" banner in Scudcloud. Clicking on "enable desktop notifications" and enabling them temporarily removes the banner but it reappears sometime later. The banner shows on all/most different slack teams.

Is there a way to get rid of this banner permanently? Can Scudcloud suppress the banner?

[2015-07-17 09:36] FatCache commented on #163
Not sure which version I have as scudcloud --version isn't supported, but I'm having the same issue.

[2015-07-17 13:24] collinpeters commented on #176
+1

[2015-07-19 03:09] bkconrad commented on #182
Same issue here on Ubuntu Vivid:

[code]

I took a crack at this today, but setting the various Antialiasing hints as mentioned [in the docs](http://doc.qt.io/qt-4.8/qpainter.html#RenderHint-enum) had no effect. It's possible this is a bug with Qt4's WebView or Painter

[2015-07-19 03:19] bkconrad commented on #140
Another helpless victim reporting in. Here's some profiler output from my repro case. Unfortunately, I'm not wise enough to identify the problem. Perhaps some sage pythonista can tell what's going on though:

[code]

[2015-07-19 03:37] bkconrad commented on #140
I also managed to wire up the WebKit debugger and run the same. Looks similarly innocent to me:
![wk-prof](https://cloud.githubusercontent.com/assets/1508972/8764416/cfa386f6-2d8c-11e5-9173-a4033aa52489.png)

[2015-07-19 14:26] lots0logs commented on #177
It turns out I was wrong. The issue occurs on all of the last few versions it seems. I discovered that deleting the following file resolves the issue (until the next time you start the app):

[code]

[2015-07-20 19:13] michaelherold commented on #183
Duplicate of #163.

[2015-07-21 02:23] chrisvdb commented on #183
Sorry, had missed that issue. Will close this one.

[2015-07-21 02:23] #183 closed

[2015-07-21 14:00] epzee commented on #141
:+1:

[2015-07-22 11:30] triplepointfive commented on #176
+1

[2015-07-22 18:58] dburm opened #185 ""Sign with Google" issue"
For some reason I've changed my internal Slack account to Google one.
And now scudcloud requires two-factor authentication on each start.

Distributor ID:	LinuxMint
Description:	Linux Mint 17.2 Rafaela
Release:	17.2
Codename:	rafaela

scudcloud:
  Installed: 1.0-50
  Candidate: 1.0-50
  Version table:
 *** 1.0-50 0
        500 http://ppa.launchpad.net/rael-gc/scudcloud/ubuntu/ trusty/main amd64

[2015-07-23 12:56] trichner commented on #170
Can confirm, same problem. Ubuntu 14.04 LTS, installed from PPA.

I would post the version of scudcloud but I could not find it. The 'About' leads to the github repo, the commandline has no '-v' or '--version' option and the 'Help & Feedback' did absolutely nothing.
Even starting from the commandline never shows the version, did my eyes miss it somewhere in the UI?

[2015-07-23 12:58] trichner opened #186 "Display Scudcloud version"
I wanted to post the version of scudcloud for another issue but I could not find it. The 'About' leads to the github repo, the commandline has no '-v' or '--version' option and the 'Help & Feedback' did absolutely nothing.
Even starting from the commandline never shows the version, did my eyes miss it somewhere in the UI?

[2015-07-26 03:10] raelgc commented on #170
New version released with contributed fixes. Please, re-test.

[2015-07-26 03:10] raelgc commented on #177
New version released with contributed fixes. Please, re-test.

[2015-07-26 03:24] drohm opened #187 "Error on apt-get update"
Just did an apt-get update and got the following error:

[code]

[2015-07-26 16:57] drohm commented on #187
Did another apt-get update and upgraded without the error.

[2015-07-26 16:57] #187 closed

[2015-07-27 12:54] ANtlord opened #188 "Send message by ctrl enter"
Is it possible to make customization of hotkeys? For example I need send message by ctrl+enter instead enter. And by enter got to new line. Can I add this feature to client? Or is it impossible. Thanks.

[2015-07-28 08:35] dburm commented on #185
Fixed by removing old ~/.scudcloud config file. Sorry for bothering you.

[2015-07-28 17:49] nargiza-sarkulova commented on #164
Hi @raelgc,
I can confirm I'm having the same issue with unread messages number: even after reading the message number doesn't disappear. It disappears after quite some time or if you switch channel/person. Don't remember in which version this behavior started but now I have the latest version (1.0.52) and it's still there. Very annoying indeed. I wouldn't mind using more CPU if there was quick fi

[2015-07-29 11:33] raelgc commented on #164
Hi @nargiza-sarkulova, yes, that due the change I did to use less CPU (I got a bunch of people complaining about this), and there is only one case where the notifications are still not properly decreasing: when you receives a direct message in the current channel.

I'll work in a simple fix, test it, and later deploy. Not sure if today, but it's my next task in ScudCloud.

[2015-07-29 19:49] trichner commented on #170
Ok, did a quick smoke test. Seems to be fixed now. Thanks a lot :)

[2015-07-30 14:08] binarysource commented on #176
+1

[2015-07-30 15:28] mcharron commented on #177
@raelgc Sorry, I updated to 15.04 since I posted the issue, I'm not able to retest it. If somebody can test...

[2015-07-30 21:42] lots0logs commented on #177
@raelgc The issue still occurs, though not as often. It seems almost random. When it does occur, simply exiting the app and restarting it usually resolves it (though sometimes requires multiple restarts).

[2015-07-31 17:44] opennomad opened #190 "New message count not showing"
In the docs it seems like the icon in the Ubuntu dock/launcer should be displaying the new message count. That doesn't seem to work. I did replace the icon with a slack one per the notes ... not sure if that is what's causing it. Ubuntu 15.04 and Scudcloud installed via the repo.

[2015-08-03 01:42] pospi commented on #133
I have `ttf-mscorefonts-installer` installed and I get this font issue. Running Ubuntu 15.04 + Unity 7.3.2

[2015-08-03 10:52] raelgc commented on #164
@nargiza-sarkulova and @moonwolf-github: the new fix is deployed. And it'll continue using low CPU :)

Sorry for the inconvenience!

[2015-08-03 13:33] ofavre commented on #87
Under Debian, I become away if I don't use the window for 1h.
I'd very much need that my away status reflects the fact that my computer is locked or not, and hence stays online as long as my computer is not locked.

How may I help on that issue? Any pointers?

[2015-08-03 16:07] nargiza-sarkulova commented on #164
Seems to be working now :) Thank you for your hard work, I really appreciate your quick assistance @raelgc

[2015-08-03 17:08] ofavre commented on #120
Same problem on Debian Jessie running KDE.
Another similar Slack client does not have this issue though.

[2015-08-03 18:04] raelgc commented on #120
Hi guys, thank you for raising this issue.

While I can understand your frustration with sounds not playing on ScudCloud, the fact is ScudCloud has 0 lines related to sound and related configurations: the sound is played directly by the Slack HTML engine.

In the past, we saw some problems related to sound, solved updating the base system (#68) or requiring some configuration tweak in Pulseaudio (

[2015-08-04 01:32] jupazave commented on #66
:+1:

[2015-08-04 05:11] souvikonline opened #192 "Tray icon not visible in Mint Cinnamon 17.2"
I am using the Void (http://cinnamon-spices.linuxmint.com/uploads/themes/C7AR-WYUC-R6K0.png)
![screenshot from 2015-08-04 10 35 34](https://cloud.githubusercontent.com/assets/570124/9053648/5eb23724-3a95-11e5-8b6a-2e3a35f205eb.png)
theme for Cinnamon in Linux Mint 17.2. The tray icon is not visible. Please see the screenshot.

[2015-08-04 13:01] gmorten1 commented on #192
i have the same or similar problem in ubuntu 14.04 (trusty) with the Mate desktop (gnome-based desktop similar to cinnamon). i have the latest scudcloud 1.0-53 from the repo. i didn't have this problem with the previous version

specifically, the panel icon disappears when i have a pending notification. i see the normal empty cloud icon when nothing is pending,
![screenshot from 2015-08-04 08 56 3

[2015-08-04 13:11] gmorten1 commented on #192
incidentally, looking at souvik's screenshot i think he has a different problem (which i also encountered before) -- the pale color of the transparent "empty cloud" icon scudcloud.svg is almost an exact match for the default panel background color. i "fixed" this by changing my panel background.

[2015-08-05 01:25] Jesse-Millwood opened #193 "Notification on Xubuntu"
The body of the notification in Xubuntu 14.04 contains source for functions. Here is a screen shot:
![selection_063](https://cloud.githubusercontent.com/assets/5342237/9076308/e262ec9a-3aee-11e5-9fce-d5e1297e2514.png)

It was installed with apt-get and the ppa.

[2015-08-05 02:51] tricksunga commented on #193
Also on Elementary OS Freya.

![screenshot from 2015-08-05 10 48 53](https://cloud.githubusercontent.com/assets/12521432/9077352/a8c17c38-3b5f-11e5-892d-cc03503c6a52.png)

Latest version installed via PPA.

[2015-08-05 06:50] 0xd3adsh3ll commented on #193
Also on linuxmint.
![_001](https://cloud.githubusercontent.com/assets/4302413/9079891/6a7a9a7a-3b57-11e5-9931-297acff25ed5.jpg)

[2015-08-05 06:52] sozonnyk commented on #193
Same on Kubuntu 15.04
![2015-08-05 16_50_31-kubuntu](https://cloud.githubusercontent.com/assets/1960621/9079916/472747ea-3b92-11e5-9b2c-655b05319e1b.png)

[2015-08-05 07:06] mbootsman opened #194 "Cannot activate desktop notifications"
I keep getting the message "Slack needs your permission to enable desktop notifications"

When clicking the message and activating Desktop notifications, I do not get a the message indicsted by this notice: "Your browser should now be presenting you with the option to enable notifications, probably at the top or bottom of this window. Click Enable or Allow or Yes or OK or whatever the right button

[2015-08-05 07:20] mreq commented on #163
Same.

[2015-08-05 07:35] weirdobeaver commented on #193
Ubuntu 14.10 I have the same problem

[2015-08-05 07:53] Slater91 commented on #194
Have you tried switching to another channel or conversation? It always works when I do.

[2015-08-05 07:54] Slater91 commented on #193
Issue confirmed on Linux Mint 17.2 with Scudcloud .53 (latest version).

[2015-08-05 08:08] svogler-trv commented on #193
Same here on Ubuntu 14.04 since the latest update to scudcloud 1.0-53
![pasted_image_at_2015_08_05_09_58](https://cloud.githubusercontent.com/assets/11662099/9081102/ce17d1e0-3b59-11e5-9b1d-3a239df2e044.png)

[2015-08-05 08:24] 0xd3adsh3ll commented on #192
![_003](https://cloud.githubusercontent.com/assets/4302413/9081431/ecb87e46-3b64-11e5-814b-98191c0491c8.jpg)
![_002](https://cloud.githubusercontent.com/assets/4302413/9081432/ed00a1c6-3b64-11e5-99b9-ce0b9f955f61.jpg)

@gmorten1 I have the same problem as yours.
linux mint 17.2

[2015-08-05 08:30] mbootsman commented on #193
Same problem here. Ubuntu 15.04

[2015-08-05 09:11] mbootsman commented on #194
Hmm, that seemd to have helped. I get desktop notifications now. But with code in them, as reported in another issue.

[2015-08-05 09:11] #194 closed

[2015-08-05 09:25] tuxinaut commented on #193
Me too. `Ubuntu 14.04`

[2015-08-05 09:26] royzer commented on #193
+1. Ubuntu 14.04 32 bit.

[2015-08-05 12:31] nazar-pc commented on #193
Yes, everyone gets this.
Looks like somewhere there is `func` instead of `func()`, though, I didn't found anything like this in last few commits, maybe something changed on Slack's side?

[2015-08-05 13:16] juuh42dias commented on #193
+1.Ubuntu 14.04 64Bit

[2015-08-05 13:50] ricsipontaz commented on #193
Me too. Ubuntu 14.04 64bit.

[2015-08-05 14:06] raelgc commented on #193
This was a change in Slack side. I just noted in my desktop too and updated code to match the new changes.

Ubuntu PPAs will be updated in few minutes.

[2015-08-05 14:08] mbootsman commented on #193
Cool! Thanks for the fast fix @raelgc

[2015-08-05 14:18] ricsipontaz commented on #193
@raelgc Thanks, It works well. :+1:

[2015-08-05 14:49] sagotsky commented on #193
The fix worked on debian stable.  TY.  I couldn't get the ubuntu ppa to work though, although the .deb package in there worked when I downloaded it.

[2015-08-05 16:27] raelgc commented on #193
Reminder to myself: I fixed this issue before read it here in GitHub, so the commit (76f9e78) gone to master branch directly.

[2015-08-05 16:28] #193 closed

[2015-08-05 17:18] roman-kiselenko commented on #192
![same](https://cloud.githubusercontent.com/assets/3471384/9092453/fc78c79c-3bae-11e5-8ad6-e0e16eed1eb7.png)
![other](https://cloud.githubusercontent.com/assets/3471384/9092513/525d3a76-3baf-11e5-96b1-130a2a968b01.png)
-  +1 Ubuntu 14.04. Gnome fallback
  No icon for a new message

[2015-08-05 19:21] jgrandef opened #195 "ScudCloud desktop notifications"
When desktop notifications are sent to Ubuntu 14.04 desktop, instead of containing a blurb of the message text the message text appears as:

function() { TS.ims.startImByMemberId
(h.user);
}

![image](https://cloud.githubusercontent.com/assets/7441905/9095508/9604b544-3b85-11e5-9067-d9e5805bc7a5.png)

[2015-08-05 19:57] soundslocke commented on #163
Also experiencing this issue here.

[2015-08-05 20:03] stieg commented on #195
+1 to this on Fedora 22.  Here is package info:

[code]

[2015-08-05 20:10] jgrandef commented on #195
From the original ticket:

Ubuntu 14.04

Package: scudcloud
Status: install ok installed
Priority: optional
Section: utils
Installed-Size: 310
Maintainer: Rael Gugelmin Cunha rael.gc@gmail.com
Architecture: all
Version: 1.0-53
Depends: libqtwebkit4 (>= 2.3.2), python3, python3-dbus, python3-pyqt4,
xdg-utils
Recommends: sni-qt, fonts-lato, gir1.2-unity-5.0,
libqtwebkit-qupzillaplugins, python3-gi,

[2015-08-05 20:32] stieg commented on #195
Just tried this with commit 8ece6f57f4c53e2a6b745ecede9975e1c825a236 and saw the same behavior as well.

[2015-08-05 20:40] roman-kiselenko commented on #195
@jgrandef  Ubuntu 14.04 reinstall help me, but now i have https://github.com/raelgc/scudcloud/issues/192

[2015-08-05 20:46] stieg commented on #195
Unfortunately running `sudo dnf reinstall scudcloud` did not yield any
difference for me.

On Wed, Aug 5, 2015 at 2:40 PM, Philidor Green notifications@github.com
wrote:

##

Andrew AV. Stiegmann

[2015-08-06 05:18] beeender commented on #37
Any way to make the spell checker work in Arch Linux? Arch doesn't have libqtwebkit-qupzillaplugins pgk now...

[2015-08-06 06:20] sergey-sukiyazov commented on #192
Hi
I found cause of this problem. It happens for me under Ubuntu 14.04 LTS too.
Problem is in file systray.py at line 38:

[code]

there is code

[code]

but value of `i` became as float, i.e. we got `2.0` instead of `2` and we have wrong name for icon. So, we need to convert float to integer before call `str(...)`, i.e.:

[code]

this solve the problem.

[2015-08-06 08:03] mikolak-net commented on #195
@jgrandef: This looks like a duplicate of #193 . That issue was fixed in 1.0-54 (is now available in the PPA).

@stieg: the relevant fix commit appears to be 76f9e78171db03f8171ccf260bf2953c76d571d6 .

[2015-08-06 14:02] nahojkap commented on #193
I just installed the client and the issue still occurs.  Seems the PPA is providing 1.0.50_all still?  Is there another step needed in order to get updates?

[2015-08-06 14:06] raelgc commented on #193
@johanlindquist Latest version is 1.0.54. If you're using `apt`, please run a `sudo apt-get update` before install it.

[2015-08-06 14:07] raelgc commented on #195
Please, upgrade to 1.0.54. If you're using `apt`, run a `sudo apt-get update`.

[2015-08-06 14:07] #195 closed

[2015-08-06 14:15] raelgc commented on #192
Thank you for the investigation and fix @fishbullet !

[2015-08-06 14:20] raelgc commented on #190
Fixed in #164

[2015-08-06 14:20] #190 closed

[2015-08-06 14:20] jgrandef commented on #195
Thank you @raelgc . After update notifications seem to be working properly again. Thanks for the quick response.

[2015-08-06 14:22] raelgc commented on #186
Hi @trichner, thank you for reporting this.

You're not missing anything, actually the only way to check version is checking in your package manager.

But I like your suggestion to just print using `--version` :)

I'll implement this during my weekend.

[2015-08-06 14:23] raelgc commented on #169
Fixed in #192

[2015-08-06 14:23] #169 closed

[2015-08-06 14:25] raelgc commented on #177
Just to be clear: `Preferences` will appear only when the Slack connection was made. If, for some reason, it got `offline`, then it'll be grayed.

[2015-08-06 14:25] #177 closed

[2015-08-06 14:34] nahojkap commented on #193
Ah, seems it is not available for 14.10 (Utopic)?

[2015-08-06 14:48] michaelherold commented on #37
@beeender I'm not sure. I tried working with the qtwebkit-plugins-git package, but wasn't able to get it to link.

A better place for this discussion would be [the AUR](https://aur4.archlinux.org/packages/scudcloud/), since everyone there is an Arch user.

[2015-08-06 14:58] davereid opened #197 "Notification showing JavaScript instead of the message"
I'm seeing this for my notifications today:

![workspace 1_277](https://cloud.githubusercontent.com/assets/62967/9114876/beeff382-3c21-11e5-9563-6af330e3dbe4.png)

[2015-08-06 14:58] trichner commented on #186
awesome :)

[2015-08-06 15:04] gmorten1 commented on #192
awesome guys, just updated to 1.0-55 and my issue is fixed. thanks!
![image](https://cloud.githubusercontent.com/assets/383842/9114797/b3629792-3c29-11e5-9c80-f5f83273495d.png)

as i mentioned previously, i now think that the original issue reported by souvik is a different problem -- the "empty cloud" icon in the hicolor icon theme doesn't have enough contrast on the light gray default panel back

[2015-08-06 15:07] roman-kiselenko commented on #192
Thanks @sergey-sukiyazov for the investigation, i just make a fast PR.

[2015-08-06 15:45] shadefinale commented on #197
I also am having this issue.

If I try sudo apt-get update and then sudo apt-get upgrade it says that it's on the latest version already.

I'm on ubuntu gnome 14.10.

[2015-08-06 16:12] raelgc commented on #192
Well, nice team work :)

[2015-08-06 16:45] stieg commented on #195
@raelgc That did the trick for me as well.  Thanks.

[2015-08-06 16:47] roman-kiselenko commented on #197
Look this https://github.com/raelgc/scudcloud/issues/195

[2015-08-06 17:03] shadefinale commented on #197
I've seen it and I'm unable to figure out how to update to 1.0-54.

I've tried sudo apt-get update && sudo apt-get upgrade

I've also tried uninstalling and reinstalling the package, both keep me at 1.0-50

EDIT:
sudo apt-get install scudcloud=1.0-54
and/or (I've seen it typed both ways in #195)
sudo apt-get install scudcloud=1.0.54

Give me an error like the following:
E: Version '1.0.54' for 'sc

[2015-08-06 17:23] lube8uy commented on #197
I'm on ubuntu 14.04 and could upgrade to 1.0-55, the upgrade fixed the error.

[2015-08-06 22:38] GrandadEvans opened #198 "TypeError: 'undefined' (evaluating 'this._onElClick.bind(this)') on rollup-core_required.js"
Hi,

I have forked the project but it appears that the fault in question
[code]
is in a remote file rollup-core_required.js at line 15023

I am not sure as to whether this has anything to do with flash etc as to get to this stage I had to run

[code]

otherwise I get
[code]

Any help in fixing this is obviously appreciated...so thanks in advance.
![screenshot from 2015-08-06 23-27-45](https://clou

[2015-08-07 12:01] raelgc commented on #193
@johanlindquist Unfortunatelly, Canonical Launchpad do not allow me to provide the .deb for Utopic as it's no more supported. But you can manually download the `.deb` file to other versions and install.

[2015-08-07 12:05] raelgc commented on #197
@shadefinale If you're using `Utopic`, you should manually download the `.deb` file for other version from [Launchpad](https://launchpad.net/~rael-gc/+archive/ubuntu/scudcloud/+files/scudcloud_1.0-55_all.deb) and manually install it.

Canonical Launchpad doesn't allow me anymore to upload packages for Utopic, as it's no more supported.

[2015-08-07 12:20] nahojkap commented on #193
@raelgc thanks, that did the trick!

[2015-08-07 12:24] raelgc commented on #198
Hi @GrandadEvans,

Which distro are you using? Can be related to the `qtwebkit` version.

[2015-08-07 12:59] shadefinale commented on #197
@raelgc That's exactly what I needed to do, I'm on 1.0-55 now.

Thank you very much!

[2015-08-07 16:08] area0 opened #199 "Asked to re-authenticate every time the application starts"
Hi there,

I am asked to authenticate every single time I start the application. I do have ~/.config/scudcloud/scudcloud.cfg file. The domain is mentioned inside that file.

My company uses two-factors authentication, not sure whether that has anything to do with it.

Can this be fixed ?

Thank you.

[2015-08-09 06:08] azat-io opened #201 "How can I change the order of my slack chats?"
Hello!

Could you tell me please:

1. I need to reorder my slack chats. How can I do it?
2. How can I turn off the option to increase the size of the selected chat?
3. How can I hide white program menu? It looks not good (file, edit, view, help).

[2015-08-10 06:34] moonwolf-github commented on #195
@stieg you may try to use my repo as i just added F22 to the builds (see [these instructions](http://software.opensuse.org/download.html?project=home%3Amoonwolf%3Ascudcloud&package=scudcloud)). Note - i'm still on F21 so it's untested.

[2015-08-10 14:57] stieg commented on #195
Thanks @moonwolf-github.  I'll give it a shot.

[2015-08-10 15:04] stieg commented on #163
I am also seeing this too using top of tree 1.0.55

[2015-08-10 16:48] raelgc commented on #201
Hi @azat-io,
1. The chat saved as default one is the last used. Not sure if it'll be open as first (probably not). Because ScudCloud will persist the Slack session when you close it.

If this not works, maybe, you should delete your config (`/.config/scudcloud`) and then login in the team you want as first.
1. This is defined in `/opt/scudcloud/resources/leftpane.html`. But, if you're using Ubuntu

[2015-08-10 16:52] raelgc commented on #163
This is a known issue, indeed, we discussed a lot in the past. Basically: Slack team will force a page reload, when they need all clients reloading their JavaScript changes.

ScudCloud do not pay attention to page reloads, only to URL changes.

I'm working on this, but trying to not break existing features.

Sorry, for now, we have only the workaround to click in another group/room to re-enable th

[2015-08-10 17:38] stieg commented on #163
Alright.  Thanks for the update.  Keep us posted and let us know if there
is anything we could do to help.

On Mon, Aug 10, 2015 at 10:52 AM, Rael Gugelmin Cunha <
notifications@github.com> wrote:

##

Andrew AV. Stiegmann

[2015-08-11 07:52] githubrsys opened #205 "Commandline Parameter should work from .cfg file too"
## Summary

On linux standard .desktop files come without cli parameters like --no_plugins=True etc. These Parameters should work from the ~/.config/scudcloud/scudcloud.cfg file too and should be maintainable through the GUI.

Because once you manipulated the origin .desktop file it is overwritten on next update. Especially on gnome it is unhandy because the applist will rely on /usr/share/applica

[2015-08-11 08:57] devng commented on #199
I am having the same issue, I also have ~/.config/scudcloud/scudcloud.cfg file. I am using Linux Mint and the PPA version, and we do NOT have two-factors authentication.

[2015-08-12 04:32] alexander-jiang commented on #66
+1

[2015-08-12 07:19] m4gzus commented on #156
I have the same problem too, but I have single account logged in. And after reboot I have to login again.
'Remember me' checkbox is checked.

[2015-08-12 14:41] davereid opened #206 "Last signed in Slack account does not persist"
I keep having to sign into fourth Slack account. Whenever I restart the application the fourth account never persists. I do have the 'Remember me' checked when I sign in every time.

[2015-08-12 14:43] davereid commented on #170
Going to close.

[2015-08-12 14:43] #170 closed

[2015-08-12 21:56] CBJamo opened #207 "Fedora repo linked in readme nonfunctional in F22"
Just installing the repo and package with dnf on F22 gives this error when running scudcloud:

[code]

I then tried the package provided by this: https://copr.fedoraproject.org/coprs/jsbillings/scudcloud/ copr repo, and it worked flawlessly. There is a patch that references issue #111.

[2015-08-13 15:36] alexander-jiang commented on #186
@raelgc Mind if I tackle this? I'm pretty new to open-source contributions and would like to take on (what seems to be) a smaller task.

[2015-08-14 07:52] mahammedzkhan commented on #199
Same issue here on ElementaryOS, running the latest version.

[2015-08-14 23:08] raelgc commented on #186
Hi @alexander-jiang!

I'm glad to hear you want to help on this! Please, go ahead! Just don't forget to read the [contribution guide](https://github.com/raelgc/scudcloud/blob/master/CONTRIBUTING.md).

And, welcome aboard!

[2015-08-14 23:09] raelgc commented on #163
If someone is still facing this issue, please re-open it.

[2015-08-14 23:09] #163 closed

[2015-08-17 02:46] MakotoTheKnight opened #209 "Allow for selecting of profiles when using Chrome as the web browser"
My workflow with Slack mandates that I keep my work profile and my personal Chrome profiles separate.  This helps for things like company-only conference calls or links that really shouldn't be opened by my personal profile.

I'm firstly wondering how feasible this is, and secondly if this would be a useful feature to others.  I may wind up forking a copy of the repo to take a stab at this.